.window-app .window-content {
  background: url("../images/parchemin-grey.jpg") repeat;
}
.actor-infos-line {
  display: flex;
}
.sheet-tabs.tabs a {
  color: var(--color-titre-trinite);
  font-weight: bold;
}
.trinites.sheet.actor input[type="text"]:focus,
.trinites.sheet.actor input[type="number"]:focus,
.trinites.sheet.actor input[type="password"]:focus,
.trinites.sheet.actor input[type="date"]:focus,
.trinites.sheet.actor input[type="time"]:focus,
.trinites.sheet.actor select:focus,
.trinites.sheet.actor textarea:focus {
  box-shadow: 0 0 5px var(--color-shadow-trinite);
}
.trinites.sheet.actor a:hover {
  text-shadow: 0 0 8px var(--color-shadow-trinite);
}
.trinites.sheet.actor a:hover.occulte {
  text-shadow: 0 0 8px var(--color-shadow-occulte);
}
.trinites.sheet.actor .tabs .item.active {
  text-shadow: 0 0 10px var(--color-shadow-trinite);
}
.trinites.sheet.actor .tabs .item.active.occulte {
  text-shadow: 0 0 10px var(--color-shadow-occulte);
}
.trinites.sheet.actor .sheet-header {
  background-image: url("../images/header-back.jpg");
  background-position: 0% 10%;
  color: var(--color-actor-header);
}
.trinites.sheet.actor .sheet-header img {
  flex: 0 0 128px;
  height: 128px;
  margin-right: 6px;
  border: none;
}
.trinites.sheet.actor .sheet-header label {
  padding: 7px 0;
}
.trinites.sheet.actor .sheet-header h1 {
  font-family: 'Cabaletta';
}
.trinites.sheet.actor .sheet-header input {
  color: var(--color-actor-header);
}
.trinites.sheet.actor .sheet-header input::placeholder {
  color: lightgray;
}
.trinites.sheet.actor .window-content {
  background: url("../images/parchemin-grey.jpg") repeat;
}
.trinites.sheet.actor .window-content nav .profane {
  color: var(--color-titre-trinite);
}
.trinites.sheet.actor .window-content nav .occulte {
  font-family: "Cabaletta";
  color: var(--color-titre-occulte);
}
.trinites.sheet.actor .window-content .tab.profane h3 {
  color: var(--color-titre-trinite);
  font-weight: bold;
  margin-left: 3px;
}
.trinites.sheet.actor .window-content .tab.occulte h3 {
  font-family: "Cabaletta";
  color: var(--color-titre-occulte);
  font-weight: bold;
  margin-left: 3px;
}
.trinites.sheet.actor .competences,
.trinites.sheet.actor .domaines,
.trinites.sheet.actor .ressources,
.trinites.sheet.actor .lignes-de-vie,
.trinites.sheet.actor .theme-astral,
.trinites.sheet.actor .vie-ante-bloc,
.trinites.sheet.actor .expe-bloc,
.trinites.sheet.actor .grand-livre,
.trinites.sheet.actor .zodiaque,
.trinites.sheet.actor .lame-soeur {
  padding: 2px;
  margin: 3px;
}
.trinites.sheet.actor .domaines,
.trinites.sheet.actor .zodiaque {
  margin-top: 5px;
}
.trinites.sheet.actor .comp-grid {
  display: grid;
  grid-template-columns: 3.5em 3em 2em 2fr 1fr 1fr 1em 3.5em 3em 2em 2fr 1fr 1fr;
  align-items: center;
}
.trinites.sheet.actor .comp-grid div {
  margin: 2px;
  font-size: 0.9em;
}
.trinites.sheet.actor .comp-grid img {
  border: none;
}
.trinites.sheet.actor .comp-grid .col-image-1 {
  grid-column: 1 / 2;
  display: flex;
  justify-content: center;
}
.trinites.sheet.actor .comp-grid .col-valSigne-1 {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
}
.trinites.sheet.actor .comp-grid .col-valSigne-1 input {
  text-align: center;
  font-size: 0.9em;
}
.trinites.sheet.actor .comp-grid .col-dice-1 {
  grid-column: 3 / 4;
  display: flex;
  justify-content: center;
}
.trinites.sheet.actor .comp-grid .col-nom-1 {
  grid-column: 4 / 5;
  margin-right: 0px;
  padding-left: 3px;
}
.trinites.sheet.actor .comp-grid .col-base-1 {
  grid-column: 5 / 6;
  margin-right: 0px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
}
.trinites.sheet.actor .comp-grid .col-base-1 input {
  height: 16px;
  width: 40px;
  text-align: center;
  font-size: 0.9em;
}
.trinites.sheet.actor .comp-grid .col-valeur-1 {
  grid-column: 6 / 7;
  margin-left: 0px;
  display: flex;
  justify-content: center;
}
.trinites.sheet.actor .comp-grid .col-image-2 {
  grid-column: 8 / 9;
  display: flex;
  justify-content: center;
}
.trinites.sheet.actor .comp-grid .col-valSigne-2 {
  grid-column: 9 / 10;
  display: flex;
  justify-content: center;
}
.trinites.sheet.actor .comp-grid .col-valSigne-2 input {
  text-align: center;
  font-size: 0.9em;
}
.trinites.sheet.actor .comp-grid .col-dice-2 {
  grid-column: 10 / 11;
  display: flex;
  justify-content: center;
}
.trinites.sheet.actor .comp-grid .col-nom-2 {
  grid-column: 11 / 12;
  margin-right: 0px;
  padding-left: 3px;
}
.trinites.sheet.actor .comp-grid .col-base-2 {
  grid-column: 12 / 13;
  margin-right: 0px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
}
.trinites.sheet.actor .comp-grid .col-base-2 input {
  height: 16px;
  width: 40px;
  text-align: center;
  font-size: 0.9em;
}
.trinites.sheet.actor .comp-grid .col-valeur-2 {
  grid-column: 13 / 14;
  margin-left: 0px;
  display: flex;
  justify-content: center;
}
.trinites.sheet.actor .comp-grid .lig-titre-1 {
  grid-row: 1 / 2;
  background-color: var(--color-titre-trinite);
  color: white;
}
.trinites.sheet.actor .comp-grid .lig-image-1 {
  grid-row: 2 / 5;
}
.trinites.sheet.actor .comp-grid .lig-titre-2 {
  grid-row: 5 / 6;
  background-color: var(--color-titre-trinite);
  color: white;
}
.trinites.sheet.actor .comp-grid .lig-image-2 {
  grid-row: 6 / 9;
}
.trinites.sheet.actor .comp-grid .lig-titre-3 {
  grid-row: 9 / 10;
  background-color: var(--color-titre-trinite);
  color: white;
}
.trinites.sheet.actor .comp-grid .lig-image-3 {
  grid-row: 10 / 13;
}
.trinites.sheet.actor .comp-grid .lig-titre-4 {
  grid-row: 13 / 14;
  background-color: var(--color-titre-trinite);
  color: white;
}
.trinites.sheet.actor .comp-grid .lig-image-4 {
  grid-row: 14 / 17;
}
.trinites.sheet.actor .comp-grid .lig-titre-5 {
  grid-row: 17 / 18;
  background-color: var(--color-titre-trinite);
  color: white;
}
.trinites.sheet.actor .comp-grid .lig-image-5 {
  grid-row: 18 / 21;
}
.trinites.sheet.actor .comp-grid .lig-titre-6 {
  grid-row: 21 / 22;
  background-color: var(--color-titre-trinite);
  color: white;
}
.trinites.sheet.actor .comp-grid .lig-image-6 {
  grid-row: 22 / 25;
}
.trinites.sheet.actor .comp-grid .lig-comp-1 {
  grid-row: 2 / 3;
}
.trinites.sheet.actor .comp-grid .lig-comp-2 {
  grid-row: 3 / 4;
}
.trinites.sheet.actor .comp-grid .lig-comp-3 {
  grid-row: 4 / 5;
}
.trinites.sheet.actor .comp-grid .lig-comp-4 {
  grid-row: 6 / 7;
}
.trinites.sheet.actor .comp-grid .lig-comp-5 {
  grid-row: 7 / 8;
}
.trinites.sheet.actor .comp-grid .lig-comp-6 {
  grid-row: 8 / 9;
}
.trinites.sheet.actor .comp-grid .lig-comp-7 {
  grid-row: 10 / 11;
}
.trinites.sheet.actor .comp-grid .lig-comp-8 {
  grid-row: 11 / 12;
}
.trinites.sheet.actor .comp-grid .lig-comp-9 {
  grid-row: 12 / 13;
}
.trinites.sheet.actor .comp-grid .lig-comp-10 {
  grid-row: 14 / 15;
}
.trinites.sheet.actor .comp-grid .lig-comp-11 {
  grid-row: 15 / 16;
}
.trinites.sheet.actor .comp-grid .lig-comp-12 {
  grid-row: 16 / 17;
}
.trinites.sheet.actor .comp-grid .lig-comp-13 {
  grid-row: 18 / 19;
}
.trinites.sheet.actor .comp-grid .lig-comp-14 {
  grid-row: 19 / 20;
}
.trinites.sheet.actor .comp-grid .lig-comp-15 {
  grid-row: 20 / 21;
}
.trinites.sheet.actor .comp-grid .lig-comp-16 {
  grid-row: 22 / 23;
}
.trinites.sheet.actor .comp-grid .lig-comp-17 {
  grid-row: 23 / 24;
}
.trinites.sheet.actor .comp-grid .lig-comp-18 {
  grid-row: 24 / 25;
}
.trinites.sheet.actor .domaines {
  min-height: 50px;
}
.trinites.sheet.actor .dom-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.trinites.sheet.actor .dom-grid .domaine-item {
  display: grid;
  grid-template-columns: 1fr 1.5em 1.5em;
  align-items: center;
}
.trinites.sheet.actor .dom-grid .domaine-item .uncheck-domaine,
.trinites.sheet.actor .dom-grid .domaine-item .check-domaine,
.trinites.sheet.actor .dom-grid .domaine-item .suppr-domaine {
  display: flex;
  justify-content: center;
  margin: 3px;
}
.trinites.sheet.actor .dom-grid .domaine-item .nom-domaine {
  padding-left: 5px;
}
.trinites.sheet.actor .ress-grid {
  display: grid;
  grid-template-columns: 2em 1fr 3em 1em 3em 1em 1.5fr;
  margin: 3px;
  align-items: center;
}
.trinites.sheet.actor .ress-grid div {
  margin: 2px;
}
.trinites.sheet.actor .ress-grid .col-titre-vide {
  grid-column: 1 / 4;
}
.trinites.sheet.actor .ress-grid .col-titre {
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  text-decoration: underline;
}
.trinites.sheet.actor .ress-grid .col-titre.diminution {
  grid-column: 4 / 7;
}
.trinites.sheet.actor .ress-grid .col-titre.duree {
  grid-column: 7 / 8;
}
.trinites.sheet.actor .ress-grid .colRess-dice {
  grid-column: 1 / 2;
  display: flex;
  justify-content: center;
}
.trinites.sheet.actor .ress-grid .colRess-nom {
  grid-column: 2 / 3;
  font-size: 0.9em;
}
.trinites.sheet.actor .ress-grid .colRess-valeur {
  grid-column: 3 / 4;
  display: flex;
  justify-content: center;
}
.trinites.sheet.actor .ress-grid .colRess-valeur input {
  text-align: center;
  font-size: 0.9em;
}
.trinites.sheet.actor .ress-grid .colRess-diminution {
  grid-column: 5 / 6;
  display: flex;
  justify-content: center;
}
.trinites.sheet.actor .ress-grid .colRess-diminution input {
  text-align: center;
  font-size: 0.9em;
}
.trinites.sheet.actor .ress-grid .colRess-duree {
  grid-column: 7 / 8;
}
.trinites.sheet.actor .ligne-vie {
  display: flex;
  justify-content: center;
  margin: 2px;
}
.trinites.sheet.actor .case-vie {
  margin: 5px;
}
.trinites.sheet.actor .etat-sante {
  display: flex;
  justify-content: center;
  font-size: 0.9em;
  margin: 3px;
}
.trinites.sheet.actor .ligne-theme {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 2px;
  align-items: center;
}
.trinites.sheet.actor .ligne-theme label {
  margin: 2px;
  font-family: "Cabaletta";
}
.trinites.sheet.actor .ligne-theme select {
  margin: 2px;
  height: 26px;
  font-size: 0.9em;
}
.trinites.sheet.actor .grid-theme {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5px;
  margin-top: 10px;
}
.trinites.sheet.actor .grid-theme .col-ascendant {
  grid-column: 1 / 2;
}
.trinites.sheet.actor .grid-theme .col-descendant {
  grid-column: 2 / 3;
}
.trinites.sheet.actor .grid-theme .lig-titre {
  grid-row: 1 / 2;
  font-family: "Cabaletta";
}
.trinites.sheet.actor .grid-theme .lig-theme-1 {
  grid-row: 2 / 3;
}
.trinites.sheet.actor .grid-theme .lig-theme-2 {
  grid-row: 3 / 4;
}
.trinites.sheet.actor .grid-theme .lig-theme-3 {
  grid-row: 4 / 5;
}
.trinites.sheet.actor .grid-theme label {
  text-align: center;
  margin: 2px;
}
.trinites.sheet.actor .grid-theme select {
  margin: 2px;
  height: 26px;
  font-size: 0.9em;
}
.trinites.sheet.actor .vie-ante {
  margin: 2px;
  font-size: 0.9em;
}
.trinites.sheet.actor .vie-ante textarea {
  font-family: "Cabaletta";
  margin: 2px;
  height: 111px;
  resize: none;
}
.trinites.sheet.actor .experience {
  display: grid;
  grid-template-columns: 1fr 3.5em 1em 1fr 3.5em;
  margin: 5px;
  align-items: center;
  font-family: "Cabaletta";
}
.trinites.sheet.actor .experience input {
  text-align: center;
}
.trinites.sheet.actor .stats-trinite {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.trinites.sheet.actor .stats-trinite .logo-karma {
  display: flex;
  justify-content: center;
  margin: 2px;
  font-size: 1.8em;
}
.trinites.sheet.actor .stats-trinite .deva h3,
.trinites.sheet.actor .stats-trinite .archonte h3 {
  text-align: center;
  margin-top: 50px;
}
.trinites.sheet.actor .stats-trinite .deva .grid-stats,
.trinites.sheet.actor .stats-trinite .archonte .grid-stats {
  display: grid;
  grid-template-columns: 1em 1fr 2fr 1em;
  font-size: 0.9em;
  align-items: center;
}
.trinites.sheet.actor .stats-trinite .deva .grid-stats .colStats-titre,
.trinites.sheet.actor .stats-trinite .archonte .grid-stats .colStats-titre {
  grid-column: 2 / 3;
}
.trinites.sheet.actor .stats-trinite .deva .grid-stats .colStats-valeur,
.trinites.sheet.actor .stats-trinite .archonte .grid-stats .colStats-valeur {
  grid-column: 3 / 4;
  margin: 2px;
  display: flex;
  align-items: center;
}
.trinites.sheet.actor .stats-trinite .deva .grid-stats .colStats-valeur input,
.trinites.sheet.actor .stats-trinite .archonte .grid-stats .colStats-valeur input {
  width: 3em;
  text-align: center;
  margin: 2px;
}
.trinites.sheet.actor .stats-trinite .deva .grid-stats .colStats-valeur label,
.trinites.sheet.actor .stats-trinite .archonte .grid-stats .colStats-valeur label {
  margin: 2px;
}
.trinites.sheet.actor .stats-trinite .adam {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.trinites.sheet.actor .stats-trinite .adam img {
  border: none;
  width: 240px;
  height: 240px;
}
.trinites.sheet.actor .stats-trinite .adam h3 {
  text-align: center;
}
.trinites.sheet.actor .stats-trinite .adam .karma {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
}
.trinites.sheet.actor .stats-trinite .adam .karma label {
  margin: 2px;
}
.trinites.sheet.actor .stats-trinite .adam input {
  width: 3em;
  text-align: center;
  margin: 2px;
}
.trinites.sheet.actor .grand-livre {
  min-height: 80px;
}
.trinites.sheet.actor .grid-grand-livre {
  display: grid;
  grid-template-columns: 1fr 1em 1fr;
  margin: 3px;
}
.trinites.sheet.actor .grid-grand-livre div {
  margin: 2px;
}
.trinites.sheet.actor .grid-grand-livre .titre-grand-livre {
  display: flex;
  justify-content: center;
  font-family: "Cabaletta";
}
.trinites.sheet.actor .grid-grand-livre .grid-verset {
  display: grid;
  font-size: 0.9em;
  grid-template-columns: 2em 1fr 2em 2em;
  align-items: center;
}
.trinites.sheet.actor .grid-grand-livre .col-roll-verset {
  grid-column: 1 / 2;
  display: flex;
  justify-content: center;
}
.trinites.sheet.actor .grid-grand-livre .col-nom-verset {
  grid-column: 2 / 3;
}
.trinites.sheet.actor .grid-grand-livre .col-edit-verset {
  grid-column: 3 / 4;
  display: flex;
  justify-content: center;
}
.trinites.sheet.actor .grid-grand-livre .col-delete-verset {
  grid-column: 4 / 5;
  display: flex;
  justify-content: center;
}
.trinites.sheet.actor .zodiaque {
  min-height: 80px;
}
.trinites.sheet.actor .grid-zodiaque {
  display: grid;
  grid-template-columns: 2em 1fr repeat(5, 3.5em) 2em 2em;
  margin: 3px;
}
.trinites.sheet.actor .grid-zodiaque .col-titre {
  grid-column: 1 / 3;
}
.trinites.sheet.actor .grid-zodiaque .col-vide {
  grid-column: 8 / 10;
}
.trinites.sheet.actor .grid-zodiaque .nom-aura {
  margin: 3px;
}
.trinites.sheet.actor .grid-zodiaque .titre {
  font-family: "Cabaletta";
}
.trinites.sheet.actor .grid-zodiaque .ligne {
  font-size: 0.9em;
}
.trinites.sheet.actor .lame-soeur {
  display: flex;
  flex-direction: column;
}
.trinites.sheet.actor .grid-lame {
  display: grid;
  grid-template-columns: 1fr 2fr 2em 4.5em;
  margin: 3px;
  align-items: center;
}
.trinites.sheet.actor .grid-lame label {
  font-family: "Cabaletta";
  margin: 2px;
}
.trinites.sheet.actor .grid-lame i {
  font-size: 0.9em;
}
.trinites.sheet.actor .grid-lame select,
.trinites.sheet.actor .grid-lame a {
  margin: 2px;
}
.trinites.sheet.actor .desc-lame {
  margin: 2px;
  font-size: 0.9em;
}
.trinites.sheet.actor .desc-lame textarea {
  font-family: "Cabaletta";
  margin: 2px;
  height: 30px;
  resize: none;
}
.trinites.sheet.actor .titre-atout {
  font-family: "Cabaletta";
}
.trinites.sheet.actor .grid-atout {
  display: grid;
  grid-template-columns: 2em 1fr 2em 2em;
  font-size: 0.9em;
  margin: 3px;
}
.trinites.sheet.actor .grid-atout .nom-atout {
  margin: 3px;
}
.trinites.sheet.item input[type="text"]:focus,
.trinites.sheet.item input[type="number"]:focus,
.trinites.sheet.item input[type="password"]:focus,
.trinites.sheet.item input[type="date"]:focus,
.trinites.sheet.item input[type="time"]:focus,
.trinites.sheet.item select:focus,
.trinites.sheet.item textarea:focus {
  box-shadow: 0 0 5px var(--color-shadow-trinite);
}
.trinites.sheet.item a:hover {
  text-shadow: 0 0 8px var(--color-shadow-trinite);
}
.trinites.sheet.item .tabs .item.active {
  text-shadow: 0 0 10px var(--color-shadow-trinite);
}
.trinites.sheet.item .centrer {
  display: flex;
  justify-content: center;
  margin: 3px;
}
.trinites.sheet.item .window-content {
  background: url("../images/parchemin-grey.jpg") repeat;
}
.trinites.sheet.item .sheet-header img {
  border: none;
}
.trinites.sheet.item .sheet-header h1.occulte {
  font-family: "Cabaletta";
}
.trinites.sheet.item .sheet-content.aura .grid-item-aura {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  margin: 2px;
  align-items: center;
}
.trinites.sheet.item .sheet-content.aura .grid-item-aura label,
.trinites.sheet.item .sheet-content.aura .grid-item-aura input,
.trinites.sheet.item .sheet-content.aura .grid-item-aura select {
  margin: 2px;
}
.trinites.sheet.item .sheet-content.aura .grid-item-aura label {
  font-family: "Cabaletta";
}
.trinites.sheet.item .sheet-content.aura .zone-aura {
  display: grid;
  grid-template-columns: repeat(5, 3.5em);
}
.trinites.sheet.item .sheet-content.aura .editor {
  height: 100px;
}
.trinites.sheet.item .sheet-content.domaine .editor {
  height: 250px;
}
.trinites.sheet.item .sheet-content.atout .grid-item-atout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  margin: 2px;
  align-items: center;
}
.trinites.sheet.item .sheet-content.atout .grid-item-atout label,
.trinites.sheet.item .sheet-content.atout .grid-item-atout input,
.trinites.sheet.item .sheet-content.atout .grid-item-atout select {
  margin: 2px;
}
.trinites.sheet.item .sheet-content.atout .grid-item-atout label {
  font-family: "Cabaletta";
}
.trinites.sheet.item .sheet-content.atout .editor {
  height: 220px;
}
.trinites.sheet.item .sheet-content.verset .editor {
  height: 140px;
  margin: 2px;
}
.trinites.sheet.item .sheet-content.verset label {
  font-family: "Cabaletta";
}
.trinites.sheet.item .sheet-content.verset .grid-item-verset {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr;
  margin: 2px;
  align-items: center;
}
.trinites.sheet.item .sheet-content.verset .grid-item-verset label,
.trinites.sheet.item .sheet-content.verset .grid-item-verset input,
.trinites.sheet.item .sheet-content.verset .grid-item-verset select {
  margin: 2px;
}
.trinites.sheet.item .sheet-content.verset .grid-item-verset .col-sentence {
  grid-column: 1 / 7;
}
.trinites.sheet.item .sheet-content.verset .grid-item-verset .col-sentence textarea {
  font-family: "Cabaletta";
  font-style: italic;
  margin: 2px;
  height: 60px;
  resize: none;
}
.trinites.sheet.item .sheet-content.verset .verset-data,
.trinites.sheet.item .sheet-content.verset .verset-desc {
  margin: 2px;
}
.trinites.sheet.item .sheet-content.verset .grid-data-desc {
  display: grid;
  grid-template-columns: 250px 1fr;
  margin: 2px;
  align-items: center;
}
.trinites.sheet.item .sheet-content.verset .grid-data-desc .grid-data-verset {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2em;
  margin: 2px;
  align-items: center;
}
.trinites.sheet.item .sheet-content.verset .grid-data-desc label,
.trinites.sheet.item .sheet-content.verset .grid-data-desc input {
  margin: 3px;
}
.trinites.sheet.item .sheet-content.verset .grid-data-desc .check {
  padding-left: 3px;
}
.trinites.sheet.item .sheet-content.verset .grid-data-desc .col-mono {
  grid-column: 1 / 5;
}
.trinites.sheet.item .sheet-footer {
  border-top: solid thin #42637e;
  padding: 3px;
  color: var(--color-titre-trinite);
  font-weight: bold;
  font-size: 1.2em;
}
.trinites.sheet.item .sheet-footer.occulte {
  border-top: solid thin #7e6942;
  font-family: "Cabaletta";
  color: var(--color-titre-occulte);
}
.trinites.sheet.item .titre-desc {
  color: var(--color-titre-trinite);
  font-weight: bold;
  margin: 2px;
  font-size: 1.1em;
}
.trinites.sheet.item .titre-desc.occulte {
  font-family: "Cabaletta";
  color: var(--color-titre-occulte);
}
#chat-form textarea {
  background-image: url("../images/header-back.jpg");
  color: var(--color-text-chat);
}
.chat-message {
  background-image: url("../images/header-back.jpg");
  background-position: 30% 9%;
}
.chat-message input[type="text"]:focus,
.chat-message input[type="number"]:focus,
.chat-message input[type="password"]:focus,
.chat-message input[type="date"]:focus,
.chat-message input[type="time"]:focus,
.chat-message select:focus,
.chat-message textarea:focus {
  box-shadow: 0 0 5px var(--color-shadow-trinite);
}
.chat-message a:hover {
  text-shadow: 0 0 8px var(--color-shadow-trinite);
}
.chat-message button:hover {
  box-shadow: 0 0 5px var(--color-shadow-trinite);
}
.chat-message .message-header,
.chat-message .message-content {
  color: var(--color-text-message);
  backdrop-filter: grayscale(70%);
}
.titre-jet-comp,
.titre-jet-ress {
  font-weight: 500;
  font-size: 1.2em;
  color: var(--color-text-message);
  margin: 2px;
}
.titre-jet-comp .box,
.titre-jet-ress .box {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.titre-jet-comp i,
.titre-jet-ress i {
  font-size: 0.9em;
}
.titre-jet-comp .diff,
.titre-jet-ress .diff {
  display: flex;
  justify-content: right;
  align-items: center;
}
.titre-jet-comp .diff i,
.titre-jet-ress .diff i {
  margin-left: 2px;
  margin-right: 2px;
}
.grid-jet-comp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2px;
  border: 1px solid var(--color-border-light-2);
  border-radius: 3px;
  box-shadow: 0 0 2px #FFF inset;
  background: linear-gradient(to right, #ebf8e1ee, #1f546fee, #07131aee);
}
.grid-jet-comp div {
  display: flex;
  justify-content: center;
}
.titre-esprit {
  margin: 3px;
  font-size: 1.5em;
  font-family: "Cabaletta";
}
.titre-esprit.deva {
  color: white;
}
.titre-esprit.archonte {
  color: black;
}
.grid-jet-ress {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-border-light-2);
  border-radius: 3px;
  box-shadow: 0 0 2px #FFF inset;
  background-color: #ccc5baee;
}
.titre-cout-ress {
  margin: 3px;
  font-size: 1.1em;
  padding: 3px;
  background-color: var(--color-titre-trinite);
  color: white;
  border: 1px solid var(--color-titre-trinite);
  border-radius: 3px;
}
.titre-cout-ress i {
  font-size: 0.9em;
}
.roll {
  width: 40px;
  line-height: 34px;
  font-size: var(--font-size-16);
  font-weight: bold;
  text-align: center;
  margin: 3px;
}
.dice-back {
  display: flex;
  justify-content: center;
  margin: 3px;
}
.dice-deva {
  background: url("../images/d12deva.svg") no-repeat;
  color: black;
  background-size: 40px 40px;
}
.dice-archonte {
  background: url("../images/d12archonte.svg") no-repeat;
  color: white;
  background-size: 40px 40px;
}
.dice-ress {
  background: url("../images/d12ressource.svg") no-repeat;
  color: white;
  background-size: 40px 40px;
}
.dice-total {
  flex: 0 0 100%;
  line-height: 24px;
  text-align: center;
  font-size: var(--font-size-20);
  font-weight: bold;
  margin: 3px;
}
.succes {
  color: #178617;
}
.echec {
  color: black;
}
.echec-crit {
  color: red;
}
.btn-dette {
  margin: 2px;
}
.btn-dette button.dette.archonte {
  color: var(--color-text-message);
  background-color: rgba(0, 0, 0, 0.5);
}
.btn-dette button.dette.deva {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}
.dette-ress {
  margin: 3px;
  padding: 3px;
  background-color: var(--color-back-warning);
  color: white;
  border: 1px solid var(--color-back-warning);
  border-radius: 3px;
}
.carte {
  border: 1px solid var(--color-border-light-2);
  border-radius: 3px;
  box-shadow: 0 0 2px #FFF inset;
  background: url("../images/parchemin-grey.jpg") repeat;
}
.carte a:hover {
  text-shadow: 0 0 8px var(--color-shadow-occulte);
}
.carte .entete {
  display: flex;
  justify-content: center;
  background-color: var(--color-titre-occulte);
  color: var(--color-text-chat-occulte);
  border: 1px solid var(--color-titre-occulte);
  border-radius: 3px;
  font-family: "Cabaletta";
  font-size: 1.5em;
  margin: 3px;
  padding: 3px;
}
.carte .desc {
  margin: 5px;
  color: black;
}
.carte .titre {
  font-family: "Cabaletta";
  color: var(--color-titre-occulte);
  font-size: 1.2em;
}
.carte .grid-carte-atout {
  display: grid;
  grid-template-columns: 3em 1fr 3em;
  margin: 3px;
  align-items: center;
}
.carte .grid-carte-atout .couleur {
  display: flex;
  justify-content: center;
  margin: 3px;
}
.carte .grid-carte-atout .couleur img {
  border: none;
}
.carte .grid-carte-atout .messager {
  display: flex;
  justify-content: center;
  color: var(--color-titre-occulte);
  font-family: "Cabaletta";
  font-size: 2em;
  margin: 3px;
}
.carte .grid-carte-atout .action {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  color: var(--color-titre-occulte);
  margin: 3px;
  margin-top: 9px;
}
.carte .grid-carte-atout .titre {
  grid-column: 1 / 4;
  margin-top: 7px;
  margin-left: 3px;
  margin-right: 3px;
}
.carte .grid-carte-aura {
  display: grid;
  grid-template-columns: 3em 1fr 3em;
  margin: 3px;
  align-items: center;
}
.carte .grid-carte-aura .signe {
  display: flex;
  justify-content: center;
  margin: 3px;
}
.carte .grid-carte-aura .signe img {
  border: none;
}
.carte .grid-carte-aura .deploiement {
  grid-column: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-titre-occulte);
  font-family: "Cabaletta";
  font-size: 1.3em;
  margin: 3px;
}
.carte .grid-carte-aura .deploiement .logo {
  margin-right: 5px;
}
.carte .grid-carte-aura .deploiement .zone {
  margin-left: 5px;
}
.carte .grid-carte-aura .action {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  color: var(--color-titre-occulte);
  margin: 3px;
  margin-top: 9px;
}
.carte .grid-carte-aura .action .deployee {
  color: gray;
}
.carte .grid-carte-aura .titre {
  grid-column: 1 / 3;
  margin-top: 7px;
  margin-left: 3px;
  margin-right: 3px;
}
.carte .grid-carte-verset {
  display: grid;
  grid-template-columns: 3em 1fr 3em;
  margin: 3px;
  align-items: center;
}
.carte .grid-carte-verset .karma {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  color: var(--color-titre-occulte);
  margin: 3px;
}
.carte .grid-carte-verset .karma img {
  border: none;
}
.carte .grid-carte-verset .favori {
  display: flex;
  justify-content: center;
  color: var(--color-titre-occulte);
  font-family: "Cabaletta";
  font-size: 2em;
  margin: 3px;
}
.carte .grid-carte-verset .action {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  color: var(--color-titre-occulte);
  margin: 3px;
  margin-top: 9px;
}
.carte .grid-carte-verset .titre {
  grid-column: 1 / 4;
  margin-top: 7px;
  margin-left: 3px;
  margin-right: 3px;
}
.carte .grid-carte-verset .sentence {
  grid-column: 1 / 4;
  margin: 5px 3px;
  font-family: "Cabaletta";
  color: black;
  text-align: justify;
  font-style: italic;
}
.carte .grid-stats-verset {
  display: grid;
  grid-template-columns: 2em 1fr;
  margin: 3px;
  align-items: center;
}
.carte .grid-stats-verset .logo {
  display: flex;
  justify-content: center;
  color: var(--color-titre-occulte);
}
.carte .grid-stats-verset .stats {
  color: black;
  font-size: 0.9em;
}
.dialog-buttons button:hover,
.dialog-buttons button:focus {
  box-shadow: 0 0 5px var(--color-shadow-trinite);
}
.dialog-content input[type="text"]:focus,
.dialog-content input[type="number"]:focus,
.dialog-content input[type="password"]:focus,
.dialog-content input[type="date"]:focus,
.dialog-content input[type="time"]:focus,
.dialog-content select:focus,
.dialog-content textarea:focus {
  box-shadow: 0 0 5px var(--color-shadow-trinite);
}
.dialog-content .titre {
  color: var(--color-titre-trinite);
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 3px;
}
.dialog-content .grid-diff {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 2fr 1fr;
  margin: 3px;
  margin-top: 6px;
  margin-bottom: 10px;
}
.dialog-content .grid-diff div {
  display: flex;
  justify-content: center;
}
.dialog-content .grid-data {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  margin: 5px 3px;
}
.dialog-content .grid-data .data {
  display: flex;
  justify-content: center;
}
.dialog-content .grid-data input[type="number"] {
  width: 3em;
  text-align: center;
}
:root {
  --color-titre-trinite: #1f546f;
  --color-shadow-trinite: #2387b9;
  --color-titre-occulte: #aa512c;
  --color-shadow-occulte: #d15d2b;
  --color-actor-header: white;
  --color-text-message: white;
  --color-text-chat: white;
  --color-text-chat-occulte: #d9d4cb;
  --color-back-chat: #ccc5baee;
  --color-back-warning: #aa512c;
  --color-atout-sinople: #149414;
  --color-atout-azur: #0024a3;
  --color-atout-sable: black;
  --color-atout-gueules: #b90c0c;
}
@font-face {
  font-family: "Cabaletta";
  src: url("../fonts/CABALETT.TTF") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-Heavy";
  src: url("../AvenirLTStd-Heavy.ttf") format("truetype");
}
.small-size {
  flex: 0 1 3.5em;
  padding: 3px;
  text-align: center;
}
.middle-size {
  flex: 0 1 5em;
  padding: 3px;
  text-align: center;
}
.auto-size {
  flex: 1 1 auto;
  padding: 3px;
}
.centrer {
  display: flex;
  justify-content: center;
  margin: 3px;
}
.deux-col-50-50 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.deux-col-66-33 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
