<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header occulte">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1 class="occulte"><input name="name" type="text" value="{{item.name}}" placeholder="Nom de l'atout"/></h1>
    </header>
    <div class="sheet-content atout occulte" data-item-id="{{item.id}}">
        <div class="grid-item-atout">
            <label>Epée de Feu</label>
            <select name="system.messager">
                {{#select data.system.messager}}
                {{#each config.epeesFeu as |epee keyEpee|}}
                    <option value="{{keyEpee}}">{{epee.label}}</option>
                {{/each}}
                {{/select}} 
            </select>
            <label>Couleur</label>
            <select name="system.couleur">
                {{#select data.system.couleur}}
                {{#each config.couleurs as |couleur keyCouleur|}}
                    <option value="{{keyCouleur}}">{{couleur}}</option>
                {{/each}}
                {{/select}} 
            </select>
        </div>
        <div class="titre-desc occulte">Effet de l'atout</div> 
        {{editor data.system.description target="system.description" button=true owner=true editable=true}}
    </div>
    <footer class="sheet-footer occulte">
        <div><i class="fas fa-khanda"></i> Atout</span></div>
    </footer>
</form>