<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header occulte">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1 class="occulte"><input name="name" type="text" value="{{item.name}}" placeholder="Nom de l'aura"/></h1>
    </header>
    <div class="sheet-content aura occulte" data-item-id="{{item.id}}">
        <div class="grid-item-aura">
        {{#if data.system.edit}}
            <label class="marge-edit">Signe</label>
            <select class="marge-edit" name="system.signe">
                {{selectOptions config.signes selected=data.system.signe}}
            </select>
            <label class="marge-edit">Déploiement</label>
                <div class="zone-aura">
                    <div class="centrer"><label>Cosme</label></div>
                    <div class="centrer"><label>Corps</label></div>
                    <div class="centrer"><label>Main</label></div>
                    <div class="centrer"><label>Epée</label></div>
                    <div class="centrer"><label>Oeil</label></div>
                    <div class="centrer"><a class="zone-deploiement" title="Aura zone Cosme (aucune)" data-zone="cosme">{{#if (eq data.system.deploiement "cosme")}}<i class="fas fa-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}</a></div>
                    <div class="centrer"><a class="zone-deploiement" title="Aura zone Corps (personnelle)" data-zone="corps">{{#if (eq data.system.deploiement "corps")}}<i class="fas fa-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}</a></div>
                    <div class="centrer"><a class="zone-deploiement" title="Aura zone Main (1m de rayon)" data-zone="main">{{#if (eq data.system.deploiement "main")}}<i class="fas fa-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}</a></div>
                    <div class="centrer"><a class="zone-deploiement" title="Aura zone Epée (2m de rayon)" data-zone="epee">{{#if (eq data.system.deploiement "epee")}}<i class="fas fa-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}</a></div>
                    <div class="centrer"><a class="zone-deploiement" title="Aura zone Oeil (1km de rayon)" data-zone="oeil">{{#if (eq data.system.deploiement "oeil")}}<i class="fas fa-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}</a></div>
                </div>
        {{else}}
            <label>Signe</label>
            <select name="system.signe">
                {{selectOptions config.signes selected=data.system.signe}}
            </select>
            <label>Déploiement</label>
            <input name="" type="text" value="{{configVal 'deploiement' data.system.deploiement}}" readonly>
        {{/if}}
        </div>
        <div class="titre-desc occulte">Effet de l'aura</div>
        {{editor data.system.description target="system.description" button=true owner=true editable=true}}
        <div class="titre-desc occulte">Effet du Souffle</div>
        {{editor data.system.souffle target="system.souffle" button=true owner=true editable=true}}
    </div>
</form>