{{log 'item' this}}
<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Nom du métier"/></h1>
    </header>
    <div class="sheet-content metier" data-item-id="{{item.id}}">
        <div class="grid-item-metier">
            <label>Signe</label>
            <select name="system.signe">
                {{#select data.system.signe}}
                {{#each config.signes as |signe keySigne|}}
                    <option value="{{keySigne}}">{{signe}}</option>
                {{/each}}
                {{/select}} 
            </select>
            <label>Points de création</label>
            <input name="system.pc.max" type="number" value="{{item.system.pc.max}}"/>            
            <label>Compétence 1</label>
            <select name="system.competence1">
                {{#select data.system.competence1}}           
                {{#each config.competencesTriees as |competence keyCompetence|}}
                    <option value="{{keyCompetence}}">{{competence}}</option>
                {{/each}}
                {{/select}} 
            </select>
            <label>Richesse</label>
            <input name="system.richesse.baseMetier" type="number" value="{{item.system.richesse.baseMetier}}"/>            
            <label>Compétence 2</label>
            <select name="system.competence2">
                {{#select data.system.competence2}}
                {{#each config.competencesTriees as |competence keyCompetence|}}
                    <option value="{{keyCompetence}}">{{competence}}</option>
                {{/each}}
                {{/select}} 
            </select>
            <label>Réseau</label>
            <input name="system.reseau.baseMetier" type="number" value="{{item.system.reseau.baseMetier}}"/>            
            <label>Compétence 3</label>
            <select name="system.competence3">
                {{#select data.system.competence3}}
                {{#each config.competencesTriees as |competence keyCompetence|}}
                    <option value="{{keyCompetence}}">{{competence}}</option>
                {{/each}}
                {{/select}} 
            </select>
            <label>Influence</label>
            <input name="system.influence.baseMetier" type="number" value="{{item.system.influence.baseMetier}}"/>
        </div>
        <div class="titre-desc">Description</div>
        {{editor data.system.description target="system.description" button=true owner=true editable=true}}
    </div>
    <footer class="sheet-footer">
        <div><i class="fas fa-mars-stroke-v"></i> Métier</span></div>
    </footer>
</form>