.window-app .window-content {
    background: url("./images/parchemin-grey.jpg") repeat;
}

.sheet-tabs.tabs a {
    color: var(--color-titre-trinite);
    font-weight: bold;
}

.trinites.sheet.actor {

    .actor-infos-line {
        display: flex;    
    
        .sous-type {
            display: flex;
            margin: 2px;
            align-items: center;
    
            label {
                width: 60px;
            }
    
            select {
                color: white;
            }
            
            select:disabled {
                color: white;
            }
        }
    }

    .invisible {
        visibility: hidden;
    }

    .sheet-tabs.tabs {
        height: 50px;
    }

    input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="time"]:focus, select:focus, textarea:focus {
        box-shadow: 0 0 5px var(--color-shadow-trinite);
    }

    input[type="number"] {
        background-color: floralwhite;
    }

    input[type="number"]:read-only {
        background-color: rgba(0, 0, 0, 0.05);
        cursor: default;
    }

    input[type="text"]:read-only {        
        cursor: default;
        border: none;
    }

    select:disabled {
        color: black;
    }

    .tab.tab-occulte, .tab.tab-grand-livre, .tab.tab-lame-soeur, .tab.tab-zodiaque {

        input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="time"]:focus, select:focus, textarea:focus {
            box-shadow: 0 0 5px var(--color-shadow-occulte);
        }

        a:hover {
            text-shadow: 0 0 8px var(--color-shadow-occulte);
        }
    }

    a:hover {
        text-shadow: 0 0 8px var(--color-shadow-trinite);
    }

    a:hover.occulte {
        text-shadow: 0 0 8px var(--color-shadow-occulte);
    }

    .tabs .item.active {
        text-shadow: 0 0 10px var(--color-shadow-trinite);
    }

    .tabs .item.active.tab-occulte {
        text-shadow: 0 0 10px var(--color-shadow-occulte);
    }

    .sheet-header {

        img {
            flex: 0 0 128px;
            height: 128px;
            margin-right: 6px;
            border: none;
        }
    
        label {
            padding: 7px 0;
        }

        h1 {
            font-family: 'Cabaletta';
        }

        background-image: url("./images/header-back.jpg");        
        background-position: 0% 10%;

        color: var(--color-actor-header);

        input {
            color: var(--color-actor-header);
        }

        input::placeholder {
            color: lightgray;
        }

    }
    
    .window-content {
        background: url("./images/parchemin-grey.jpg") repeat;
        
        nav .tab-profane, nav .tab-equipement, nav .tab-description, nav .tab-details {
            font-family: "Cabaletta";
            color: var(--color-titre-trinite);
        }

        nav .tab-occulte, nav .tab-grand-livre, nav .tab-lame-soeur, nav .tab-zodiaque {
            font-family: "Cabaletta";
            color: var(--color-titre-occulte);
        }

        .tab.tab-profane h3, .tab.tab-equipement h3, .tab.tab-description h3, .tab.tab-details h3, h3 {
            color: var(--color-titre-trinite);
            font-weight: bold;
            margin-left: 3px;
            border-bottom: none;
        }

        .tab.tab-occulte h3,.tab.tab-grand-livre h3,.tab.tab-lame-soeur h3,.tab.tab-zodiaque h3 {
            font-family: "Cabaletta";
            color: var(--color-titre-occulte);;
            font-weight: bold;
            margin-left: 3px;
            border-bottom: none;
        }
    }


    .tab.tab-description {

        .description {
            height: 150px;
        }

        .notes {
            height: 500px;
        }
        
        .editor {

            height: 100%;

            .editor-edit {
                background: var(--primary);
                color: white;
            }
    
            // When the editor is open, fill more space so the user has something to work with
            .tox.tox-tinymce {
                // !important to work around tox's limitations and a foundry issue where initial height is overwritten
                height: 200px!important;
            }
    
            .tox {
                .tox-editor-container {
                    .tox-editor-header {
                        .tox-toolbar-overlord {
                            background-color: var(--secondary);
                            .tox-toolbar {
                                &__primary {
                                    background-color: var(--alt);
                                    box-shadow: inset 0 0 0 1px rgba(white, 0.3);
                                }
                            }
                        }
                    }
                }
            }
    
            .editor-content {
                background: rgba(0, 0, 0, 5%);
                min-height: 75px;
                overflow-y: inherit;
            }
        }
    }

    .domaines, .competences, .ressources, .lignes-de-vie, .theme-astral, .vie-ante-bloc, .histo-bloc, 
    .expe-bloc, .karma-ten, .grand-livre, .zodiaque, .lame-soeur, .lame-noire, .pouvoirs {        
        padding: 2px;
        margin: 3px;
    }

    .domaines, .zodiaque, .pouvoirs {
        margin-top: 5px;
    }

    .lignes-de-vie {
        .param {
            display: flex;
            margin: 2px;
            align-items: center;

            label {
                width: 150px;
            }

            input {
                width: 40px;
                text-align: center;
            }

            select {
                background-color: floralwhite;
            }
        }
    }

    .competences  {
        .param {
            display: flex;
            margin: 2px;
            align-items: center;

            label {
                width: 80px;
            }

            input {
                width: 40px;
                text-align: center;
            }

            select {
                background-color: floralwhite;
            }
        }
    }

    .comp-grid {
        display: grid;
        grid-template-columns: 3.5em 3em 2em 2fr 1fr 1fr 1em 3.5em 3em 2em 2fr 1fr 1fr;
        align-items: center;

        div {
            margin: 2px;
            font-size: 0.9em;
        }

        img {
            border: none;
        }

        .col-image-1 {
            grid-column: 1 / 2;
            display: flex;
            justify-content: center;
        }

        .col-valSigne-1 {
            grid-column: 2 / 3;
            display: flex;
            justify-content: center;

            input {
                text-align: center;
                font-size: 0.9em;
            }
        }

        .col-dice-1 {
            grid-column: 3 / 4;
            display: flex;
            justify-content: center;
        }
        
        .col-nom-1 {
            grid-column: 4 / 5;
            margin-right: 0px;
            padding-left: 3px;
        }

        .col-base-1 {
            grid-column: 5 / 6;
            margin-right: 0px;
            margin-left: 0px;
            display: flex;
            justify-content: center;

            input {
                height: 16px;
                width: 40px;
                text-align: center;
                font-size: 0.9em; 
            }
        }

        .col-valeur-1 {
            grid-column: 6 / 7;
            margin-left: 0px;
            display: flex;
            justify-content: center;
        }

        .col-image-2 {
            grid-column: 8 / 9;
            display: flex;
            justify-content: center;
        }

        .col-valSigne-2 {
            grid-column: 9 / 10;
            display: flex;
            justify-content: center;

            input {
                text-align: center;
                font-size: 0.9em;
            }
        }

        .col-dice-2 {
            grid-column: 10 / 11;
            display: flex;
            justify-content: center;
        }

        .col-nom-2 {
            grid-column: 11 / 12;
            margin-right: 0px;            
            padding-left: 3px;
        }

        .col-base-2 {
            grid-column: 12 / 13;
            margin-right: 0px;
            margin-left: 0px;
            display: flex;
            justify-content: center;

            input {
                height: 16px;
                width: 40px;
                text-align: center;
                font-size: 0.9em;
            }
        }

        .col-valeur-2 {
            grid-column: 13 / 14;
            margin-left: 0px;
            display: flex;
            justify-content: center;
        }

        .lig-titre-1 {
            grid-row: 1 / 2;
            background-color: var(--color-titre-trinite);
            color: white;
        }

        .lig-image-1 {
            grid-row: 2 / 5;
        }

        .lig-titre-2 {
            grid-row: 5 / 6;
            background-color: var(--color-titre-trinite);
            color: white;
        }

        .lig-image-2 {
            grid-row: 6 / 9;
        }

        .lig-titre-3 {
            grid-row: 9 / 10;
            background-color: var(--color-titre-trinite);
            color: white;
        }

        .lig-image-3 {
            grid-row: 10 / 13;
        }

        .lig-titre-4 {
            grid-row: 13 / 14;
            background-color: var(--color-titre-trinite);
            color: white;
        }

        .lig-image-4 {
            grid-row: 14 / 17;
        }

        .lig-titre-5 {
            grid-row: 17 / 18;
            background-color: var(--color-titre-trinite);
            color: white;
        }

        .lig-image-5 {
            grid-row: 18 / 21;
        }

        .lig-titre-6 {
            grid-row: 21 / 22;
            background-color: var(--color-titre-trinite);
            color: white;
        }

        .lig-image-6 {
            grid-row: 22 / 25;
        }

        .lig-comp-1 {
            grid-row: 2 / 3;
        }

        .lig-comp-2 {
            grid-row: 3 / 4;
        }

        .lig-comp-3 {
            grid-row: 4 / 5;
        }

        .lig-comp-4 {
            grid-row: 6 / 7;
        }

        .lig-comp-5 {
            grid-row: 7 / 8;
        }

        .lig-comp-6 {            
            grid-row: 8 / 9;
        }

        .lig-comp-7 {
            grid-row: 10 / 11;
        }

        .lig-comp-8 {
            grid-row: 11 / 12;
        }

        .lig-comp-9 {
            grid-row: 12 / 13;
        }

        .lig-comp-10 {
            grid-row: 14 / 15;
        }

        .lig-comp-11 {
            grid-row: 15 / 16;
        }

        .lig-comp-12 {
            grid-row: 16 / 17;
        }

        .lig-comp-13 {
            grid-row: 18 / 19;
        }

        .lig-comp-14 {
            grid-row: 19 / 20;
        }

        .lig-comp-15 {
            grid-row: 20 / 21;
        }

        .lig-comp-16 {
            grid-row: 22 / 23;
        }

        .lig-comp-17 {
            grid-row: 23 / 24;
        }

        .lig-comp-18 {
            grid-row: 24 / 25;
        }
    }

    .ress-grid {
        display: grid;
        grid-template-columns: 2em 1fr 1.5em 3em 1em 3em 1em 1.5fr;
        margin: 3px;
        align-items: center;

        div {
            margin: 2px;    
        }

        .col-titre-vide {
            grid-column: 1 / 5;
        }

        .col-titre {
            display: flex;
            justify-content: center;
            text-decoration: underline;
        }

        .col-titre.diminution {
            grid-column: 5 / 8;
        }

        .col-titre.duree {
            grid-column: 8 / 9;
        }

        .colRess-dice {
            grid-column: 1 / 2;
            display: flex;
            justify-content: center;
        }

        .colRess-nom {
            grid-column: 2 / 3;
            font-size: 0.9em;
        }

        .colRess-epuisee {
            grid-column: 3 / 4;
            display: flex;
            justify-content: center;
        }

        .colRess-valeur {
            grid-column: 4 / 5;
            display: flex;
            justify-content: center;

            input {                
                text-align: center;
                font-size: 0.9em;
            }
        }

        .colRess-diminution {
            grid-column: 6 / 7;
            display: flex;
            justify-content: center;

            input {
                text-align: center;
                font-size: 0.9em;
            }
        }

        .colRess-duree {
            grid-column: 8 / 9;

            input {
                background-color: floralwhite;
            }
        }
    }

    .ress-grid-unlocked {
        display: grid;
        grid-template-columns: 2em 1fr 1.5em 3em 0.5em 3em 0.5em 3em 0.5em 3em 0.5em 3em 1em 1.5fr;
        margin: 3px;
        align-items: center;

        div {
            margin: 2px;    
        }

        .col-titre-vide {
            grid-column: 1 / 5;
        }

        .col-titre {
            font-size: 0.9em;
            display: flex;
            justify-content: center;
            text-decoration: underline;
        }

        .col-titre.metier {
            grid-column: 4 / 5;
        }

        .col-titre.pc {
            grid-column: 6 / 7;
        }
        
        .col-titre.va {
            grid-column: 8 / 9;
        }

        .col-titre.pex {
            grid-column: 10 / 11;
        }

        .col-titre.diminution {
            grid-column: 11 / 14;
        }

        .col-titre.duree {
            grid-column: 14 / 15;
        }

        .colRess-dice {
            grid-column: 1 / 2;
            display: flex;
            justify-content: center;
        }

        .colRess-nom {
            grid-column: 2 / 3;
            font-size: 0.9em;
        }

        .colRess-epuisee {
            grid-column: 3 / 4;
            display: flex;
            justify-content: center;
        }

        .colRess-metier {
            grid-column: 4 / 5;
            display: flex;
            justify-content: center;

            input {                
                text-align: center;
                font-size: 0.9em;
            }
        }

        .colRess-crea {
            grid-column: 6 / 7;
            display: flex;
            justify-content: center;

            input {                
                text-align: center;
                font-size: 0.9em;
            }
        }

        .colRess-va {
            grid-column: 8 / 9;
            display: flex;
            justify-content: center;

            input {                
                text-align: center;
                font-size: 0.9em;
            }
        }

        .colRess-exp {
            grid-column: 10 / 11;
            display: flex;
            justify-content: center;

            input {                
                text-align: center;
                font-size: 0.9em;
            }
        }

        .colRess-diminution {
            grid-column: 12 / 13;
            display: flex;
            justify-content: center;

            input {
                text-align: center;
                font-size: 0.9em;
            }
        }

        .colRess-duree {
            grid-column: 14 / 15;
        }
    }

    .ligne-vie {
        display: flex;
        justify-content: center;
        margin: 2px;
    }

    .case-vie {
        margin: 5px;
    }

    .etat-sante {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3px;

        label {
            font-size: 0.9em;
            margin: 3px;
        }

        .regen-btn {
            font-size: 1.3em;
            margin: 3px;
        }
    }

    .ligne-theme, .ligne-histo {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin: 2px;
        align-items: center;

        label {
            margin: 2px;
            font-family: "Cabaletta";
        }
        
        select {
            margin: 2px;
            height: 26px;
            font-size: 0.9em;
        }
    }

    .theme-astral, .histo-bloc {
        
        select {
            font-family: "Cabaletta";
        }      
    }

    .grid-theme {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 5px;
        margin-top: 10px;

        .col-ascendant {
            grid-column: 1 / 2;
        }

        .col-descendant {
            grid-column: 2 / 3;
        }

        .lig-titre {
            grid-row: 1 / 2;
            font-family: "Cabaletta";
        }

        .lig-theme-1 {
            grid-row: 2 / 3;
        }

        .lig-theme-2 {
            grid-row: 3 / 4;
        }

        .lig-theme-3 {
            grid-row: 4 / 5;
        }

        label {
            text-align: center;
            margin: 2px;
        }

        select {
            margin: 2px;
            height: 26px;
            font-size: 0.9em;
        }
    }

    .vie-ante {
        margin: 2px;
        font-size: 0.9em;

        textarea {
            font-family: "Cabaletta";
            margin: 2px;
            height: 111px;
            resize: none;
        }
    }

    .histo {
        margin: 2px;
        font-size: 0.9em;

        textarea {
            font-family: "Cabaletta";
            margin: 2px;
            height: 113px;
            resize: none;
        }
    }

    .experience {
        display: grid;
        grid-template-columns: 1fr 3.5em 1em 1fr 3.5em;
        margin: 5px;
        align-items: center;
        font-family: "Cabaletta";

        input {
            text-align: center;
        }
    }

    .stats-trinite {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-family: "Cabaletta";

        select {
            font-family: "Cabaletta";
        }

        .logo-karma {
            display: flex;
            justify-content: center;
            margin: 2px;
            font-size: 1.8em;
        }

        .deva, .archonte {

            h3 {
                text-align: center;
                margin-top: 50px;
            }

            .grid-stats {
                display: grid;
                grid-template-columns: 1em 1fr 2fr 1em;
                align-items: center;

                .colStats-titre {
                    grid-column: 2 / 3;
                }
    
                .colStats-valeur {
                    grid-column: 3 / 4;
                    margin: 2px;
                    display: flex;
                    align-items: center;

                    input {
                        width: 3em;
                        text-align: center;
                        margin: 2px
                    }

                    label {
                        margin: 2px;
                    }
                }                
            }
        }

        .adam {
            display: flex;
            flex-direction: column;
            justify-content: center;

            img {
                border: none;
                width: 240px;
                height: 240px;
            }

            h3 {
                text-align: center;
            }

            .karma {
                display: flex;
                justify-content: center;
                align-items: center;
                
                label {
                    margin: 2px;
                }
            }

            input {
                width: 3em;
                text-align: center;
                margin: 2px;
            }
        }
    }

    .grand-livre {
        min-height: 80px;

        .param {
            select {
                background-color: floralwhite;
            }
        }
    }

    .grid-grand-livre {
        display: grid;
        grid-template-columns: 1fr;
        margin: 3px;

        div {
            margin: 2px;
        }
        
        .titre {
            font-family: "Cabaletta";
        }
    }

    .pouvoirs {
        min-height: 80px;
    }

    .grid-pouvoirs {
        display: grid;
        grid-template-columns: 1fr;
        margin: 3px;

        div {
            margin: 2px;
        }
        
        .titre {
            font-family: "Cabaletta";
        }
    }
    
    .grid-pouvoir {
        display: grid;
        grid-template-columns: 2fr 1fr 2em 2em;
        align-items: center;

        .nom-pouvoir {
            grid-column: 1 / 2;
        }

        .savoir-pouvoir {
            grid-column: 2 / 3;
        }

        .edit-pouvoir {
            grid-column: 3 / 4;
            display: flex;
            justify-content: center;
        }

        .delete-pouvoir {
            grid-column: 4 / 5;
            display: flex;
            justify-content: center;
        }
    }
        
    .grid-verset {
        display: grid;
        grid-template-columns: 2em 1.3fr 0.3fr 0.8fr 0.5fr 1.3fr 2em 2em;
        align-items: center;

        .jet-verset {
            grid-column: 1 / 2;
            display: flex;
            justify-content: center;
        }

        .nom-verset {
            grid-column: 2 / 3;
        }

        .cumul-verset {
            grid-column: 3 / 4;
            display: flex;
            justify-content: center;
        }

        .duree-verset {
            grid-column: 4 / 5;
        }

        .portee-verset {
            grid-column: 5 / 6;
        }

        .aire-verset {
            grid-column: 6 / 7;
        }

        .edit-verset {
            grid-column: 7 / 8;
            display: flex;
            justify-content: center;
        }

        .delete-verset {
            grid-column: 8 / 9;
            display: flex;
            justify-content: center;
        }

        .titre {
            font-family: "Cabaletta";
        }
    }

    
   
    .zodiaque {
        min-height: 80px;

        .param {
            select {
                background-color: floralwhite;
            }
        }
    }

    .grid-zodiaque {
        display: grid;
        grid-template-columns: 2em 1fr repeat(5, 3.5em) 2em 2em;
        margin: 3px;

        .col-titre {
            grid-column: 2 / 3;
        }

        .col-vide {
            grid-column: 8 / 10;
        }

        .nom-aura {
            margin: 3px;
        }

        .titre {
            font-family: "Cabaletta";
        }

        .ligne {
            font-size: 0.9em;
        }
    }

    .lame-soeur {
        display: flex;
        flex-direction: column;

        .grid-lame {
            display: grid;
            grid-template-columns: 1fr 2fr 2em 4.5em;
            margin: 3px;
            align-items: center;
    
            select {
                font-family: "Cabaletta";
            }
    
            label {
                font-family: "Cabaletta";
                margin: 2px;
            }
    
            i {
                font-size: 0.9em;
            }
    
            select, a {
                margin: 2px;
            }
        }
    }

    .lame-noire {
        display: flex;
        flex-direction: column;

        .grid-lame {
            display: grid;
            grid-template-columns: 1fr 1fr 2em 4.5em 3fr;
            margin: 3px;
            align-items: center;
    
            select {
                font-family: "Cabaletta";
            }
    
            label {
                font-family: "Cabaletta";
                margin: 2px;
            }
    
            i {
                font-size: 0.9em;
            }
    
            select, a {
                margin: 2px;
            }
        }
    }    

    .desc-lame {
        margin: 2px;
        font-size: 0.9em;

        textarea {
            font-family: "Cabaletta";
            margin: 2px;
            height: 30px;
            resize: none;
        }
    }

    .titre-atout {
        font-family: "Cabaletta";
    }

    .grid-atout {
        display: grid;
        grid-template-columns:2em 1fr 2em 2em;
        margin: 3px;

        .nom-atout {
            margin: 3px;
        }
    }

    .grid-equipements {
        display: grid;
        grid-template-columns: 1fr;
        margin: 3px;

        div {
            margin: 2px;
        }
    }

    .grid-armes {
        display: grid;
        grid-template-columns: 2em 1fr 1fr 1fr 2fr 2em 2em;
        align-items: center;

        .col-roll-arme {
            grid-column: 1 / 2;
            display: flex;
            justify-content: center;
        }
    
        .col-nom-arme {
            grid-column: 2 / 3;
        }
    
        .col-degats-arme {
            grid-column: 3 / 4;
        }
    
        .col-portee-arme {
            grid-column: 4 / 5;
        }
    
        .col-particularites-arme {
            grid-column: 5 / 6;
        }
    
        .col-edit-arme {
            grid-column: 6 / 7;
            display: flex;
            justify-content: center;
        }
    
        .col-delete-arme {
            grid-column: 7 / 8;
            display: flex;
            justify-content: center;
        }
    }

    .grid-armures {
        display: grid;
        grid-template-columns: 2em 1fr 1fr 1fr 2fr 2em 2em;
        align-items: center;
    
        .col-nom-armure {
            grid-column: 2 / 3;
        }
    
        .col-protection-melee-armure {
            grid-column: 3 / 4;
        }
    
        .col-protection-tir-armure {
            grid-column: 4 / 5;
        }
    
        .col-particularites-armure {
            grid-column: 5 / 6;
        }
    
        .col-edit-armure {
            grid-column: 6 / 7;
            display: flex;
            justify-content: center;
        }
    
        .col-delete-armure {
            grid-column: 7 / 8;
            display: flex;
            justify-content: center;
        }
    }

    .grid-objets {
        display: grid;
        grid-template-columns: 2em 1fr 3fr 2em 2em;
        align-items: center;
    
        .col-nom-objet {
            grid-column: 2 / 3;
        }
    
        .col-description-objet {
            grid-column: 3 / 4;
        }
        
        .col-edit-objet {
            grid-column: 4 / 5;
            display: flex;
            justify-content: center;
        }
    
        .col-delete-objet {
            grid-column: 5 / 6;
            display: flex;
            justify-content: center;
        }
    }

    .grid-karma-ten {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        font-family: "Cabaletta";
        margin: 3px;

        .karma-ten-titre {
            margin: 2px;
        }

        .karma-ten-valeur {
            margin: 2px;
            display: flex;
            align-items: center;
            justify-content: center;

            input {
                width: 3em;
                text-align: center;
                margin: 2px
            }

            label {
                margin: 2px;
            }
        }                
    }

    .editor {
        .editor-edit {
            background: var(--primary);
            color: white;
        }

        // When the editor is open, fill more space so the user has something to work with
        .tox.tox-tinymce {
            // !important to work around tox's limitations and a foundry issue where initial height is overwritten
            height: 200px!important;
        }

        .tox {
            .tox-editor-container {
                .tox-editor-header {
                    .tox-toolbar-overlord {
                        background-color: var(--secondary);
                        .tox-toolbar {
                            &__primary {
                                background-color: var(--alt);
                                box-shadow: inset 0 0 0 1px rgba(white, 0.3);
                            }
                        }
                    }
                }
            }
        }

        .editor-content {
            background: rgba(0, 0, 0, 5%);
            min-height: 75px;
            overflow-y: inherit;
        }
    }

    &.trinite {

        .domaines {
            min-height: 50px;
        }
    
        .dom-grid {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
    
            .domaine-item {
                display: flex;
                gap: 5px;
    
                .uncheck-domaine, .check-domaine{
                    display: flex;
                    justify-content: center;
                    margin: 3px;
                }
    
                .nom-domaine {
                    padding-left: 5px;
                }
            }

            .domaine-item-unlocked {
                display: flex;
                gap: 2px;
    
                .uncheck-domaine, .check-domaine, .suppr-domaine, .edit-item {
                    display: flex;
                    justify-content: center;
                    margin: 3px;
                }
    
                .nom-domaine {
                    padding-left: 5px;
                }
            }
        }
    }

    &.archonte-roi {
        .domaines {
            min-height: 50px;
        }
    }
}