#chat-form textarea {
    background-image: url("../images/header-back.jpg");  
    color: white;
}

.chat-message {
    //background: url("../images/parchemin-grey.jpg") repeat;

    // Essai image back
    background-image: url("../images/header-back.jpg");        
    background-position: 30% 9%;

    //background-position: 35% 74%;
    //background-position: 50% 58%;

    .message-header, .message-content {
        color: white;
    }
}

// Structure de la carte 'jet de compétence'
.titre-jet-comp {
    font-weight: 500;
    font-size: 1.2em;
    margin: 2px;

    .box {
        display: grid;
        grid-template-columns: 5fr 1fr;


    }
    // Essai 1
    //color: #1f546f;

    /*// Essai 2
    color: white;
    background: #1f546f;
    margin-bottom: 0px;
    border-left: 1px solid var(--color-border-light-2);
    border-right: 1px solid var(--color-border-light-2);
    border-top: 1px solid var(--color-border-light-2);    
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 3px;*/

    // Essai 3
    //color: #1f546f;

    // Essai image back
    color: white;
}

.grid-jet-comp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2px;

    /*// Essai 1
    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
    box-shadow: 0 0 2px #FFF inset;
    background: linear-gradient(#1f546fdd, #1f546f44, #1f546fdd);*/

    /*// Essai 2
    margin-top: 0px;
    border-left: 1px solid var(--color-border-light-2);
    border-right: 1px solid var(--color-border-light-2);
    border-bottom: 1px solid var(--color-border-light-2);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: linear-gradient(#1f546f,#1f546f44, #1f546fdd);*/

    /*// Essai 3
    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
    box-shadow: 0 0 2px #FFF inset;
    background: linear-gradient(to left, #1f546f, #1f546f00, #1f546f);*/

    /*// Essai 3b
    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
    box-shadow: 0 0 2px #FFF inset;
    background: linear-gradient(to right, #1f546f, #ebf8e1, #0f2936);*/

    // Essai 4
    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
    box-shadow: 0 0 2px #FFF inset;
    background: linear-gradient(to right,  #ebf8e1, #1f546f, #07131a);
    

    div {
        display: flex;
        justify-content: center;
        margin: 3px;
    }
}

// Apparence des noms Deva / Archonte
.titre-esprit {
    font-weight: bold;
    font-size: 1.2em;
}

.titre-esprit.deva {
    color: white;
}

.titre-esprit.archonte {
    color: black;
}

// Apparence des dés du roll
.roll {
    width: 40px;
    line-height: 34px;
    font-size: var(--font-size-16);
    font-weight: bold;
    text-align: center;
  }

.dice-deva {
    background: url("../images/d12deva.svg") no-repeat;
    color: black;
    background-size: 40px 40px;
}

.dice-archonte {
    background: url("../images/d12black.svg") no-repeat;
    color: white;
    background-size: 40px 40px;
}

/*.dice-back {
    //background: #1f546f88;
}*/

// Apparence du résultat du jet
.dice-total {
    flex: 0 0 100%;
    line-height: 24px;
    text-align: center;
    font-size: var(--font-size-20);
    font-weight: bold;

    // Essai 0
    //background: rgba(0, 0, 0, 0.1);
    //border: 1px solid var(--color-border-light-2);
    //border-radius: 3px;
    //box-shadow: 0 0 2px #FFF inset;
}

.succes {
    //color: rgb(32, 184, 32);

    // Essai 4
    color: rgb(23, 134, 23);
}

.echec {
    color: black;
}

.echec-critique {
    color: red;
}