:root {
    --color-text-message: white;
    --color-text-chat: white;
}

#chat-form textarea {
    background-image: url("../images/header-back.jpg");  
    color: var(--color-text-chat);
}

.chat-message {
    background-image: url("../images/header-back.jpg");        
    background-position: 30% 9%;

    input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="time"]:focus, select:focus, textarea:focus {
        box-shadow: 0 0 5px var(--color-shadow-trinite);
    }

    button:hover {
        box-shadow: 0 0 5px var(--color-shadow-trinite);
    }

    .message-header, .message-content {
        color: var(--color-text-message);
        backdrop-filter: grayscale(70%);
    }
}

// Structure de la carte 'jet de compétence'
.titre-jet-comp {
    font-weight: 500;
    font-size: 1.2em;
    color: var(--color-text-message);
    margin: 2px;

    .box {
        display: grid;
        grid-template-columns: 4fr 1fr;
    }
}

.grid-jet-comp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2px;

    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
    box-shadow: 0 0 2px #FFF inset;
    background: linear-gradient(to right,  #ebf8e1, #1f546f, #07131a);

    div {
        display: flex;
        justify-content: center;
        margin: 3px;
    }
}

// Apparence des noms Deva / Archonte
.titre-esprit {
    font-weight: bold;
    font-size: 1.2em;
}

.titre-esprit.deva {
    color: white;
    text-shadow: rgb(139, 138, 138) 1px 0 10px;
}

.titre-esprit.archonte {
    color: black;
    text-shadow: rgb(139, 138, 138) 1px 0 10px;
}

// Apparence des dés du roll
.roll {
    width: 40px;
    line-height: 34px;
    font-size: var(--font-size-16);
    font-weight: bold;
    text-align: center;
  }

.dice-deva {
    background: url("../images/d12deva.svg") no-repeat;
    color: black;
    background-size: 40px 40px;
}

.dice-archonte {
    background: url("../images/d12black.svg") no-repeat;
    color: white;
    background-size: 40px 40px;
}

// Apparence du résultat du jet
.dice-total {
    flex: 0 0 100%;
    line-height: 24px;
    text-align: center;
    font-size: var(--font-size-20);
    font-weight: bold;
}

.succes {
    color: rgb(23, 134, 23);
}

.succes-shadow {
    color: rgb(23, 134, 23);
    text-shadow: rgb(139, 138, 138) 1px 0 10px;
}

.echec {
    color: black;
}

.echec-shadow {
    color: black;
    text-shadow: rgb(139, 138, 138) 1px 0 10px;
}

.echec-crit {
    color: red;
}

.echec-crit-shadow {
    color: red;
    text-shadow: rgb(139, 138, 138) 1px 0 10px;
}

.btn-dette {
    margin: 2px;

    button.dette.archonte {
        color : var(--color-text-message);
        background-color: rgba(0, 0, 0, 0.5); 
    }

    button.dette.deva {
        color : black;
        background-color: rgba(255, 255, 255, 0.5); 
    }
}