.chat-message {
    background: url("../images/parchemin-grey.jpg") repeat;
}

// Structure de la carte 'jet de compétence'
.titre-jet-comp {
    color: #1f546f;
    font-weight: bold;
    font-size: 1.2em;
}

.grid-jet-comp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2px;

    div {
        display: flex;
        justify-content: center;
        margin: 3px;
    }
}

// Apparence des noms Deva / Archonte
.titre-esprit {
    font-weight: bold;
    font-size: 1.2em;
}

.titre-esprit.deva {
    color: white;
}

.titre-esprit.archonte {
    color: black;
}

// Apparence des dés du roll
.roll {
    width: 40px;
    line-height: 34px;
    font-size: var(--font-size-16);
    font-weight: bold;
    text-align: center;
  }

.dice-deva {
    background: url("../images/d12deva.svg") no-repeat;
    color: black;
    background-size: 40px 40px;
}

.dice-archonte {
    background: url("../images/d12black.svg") no-repeat;
    color: white;
    background-size: 40px 40px;
}

// Apparence du résultat du jet
.dice-total {
    flex: 0 0 100%;
    line-height: 24px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
    box-shadow: 0 0 2px #FFF inset;
    font-size: var(--font-size-20);
    font-weight: bold;
}

.succes {
    color: rgb(32, 184, 32);
}

.echec {
    color: black;
}