:root {
    --color-titre-trinite: #1f546f;
    --color-shadow-trinite: #2387b9;
    --color-titre-occulte: #aa512c;
    --color-shadow-occulte: #d15d2b; 
    --color-actor-header: white;
    --color-text-message: white;
    --color-text-chat: white;
    --color-text-chat-occulte : #d9d4cb;
    --color-back-chat: #ccc5baee;
    --color-back-warning: #aa512c;
    --color-atout-sinople: #149414;
    --color-atout-azur: #0024a3;
    --color-atout-sable: black;
    --color-atout-gueules: #b90c0c;
}

@font-face {
    font-family: "Cabaletta";
    src: url("../fonts/CABALETT.TTF") format("truetype");
}

@font-face {
    font-family: "AvenirLTStd-Heavy";
    src: url("../AvenirLTStd-Heavy.ttf") format("truetype");
}

.small-size {
    flex: 0 1 3.5em;
    padding: 3px;
    text-align: center;
}

.middle-size {
    flex: 0 1 5em;
    padding: 3px;
    text-align: center;
}

.big-size {
    flex: 0 1 25em;
    padding: 3px;
}

.big-size-center {
    flex: 0 1 25em;
    padding: 3px;
    text-align: center;
}

.auto-size {
    flex: 1 1 auto;
    padding: 3px;
}

.centrer {
    display: flex;
    justify-content: center;
    margin: 3px;
}

.une-col {
    display: grid;
    grid-template-columns: 1fr;
}

.deux-col-50-50 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.deux-col-66-33 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}