.trinites.sheet.item {

    input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="time"]:focus, select:focus, textarea:focus {
        box-shadow: 0 0 5px var(--color-shadow-trinite);
    }
    
    a:hover {
        text-shadow: 0 0 8px var(--color-shadow-trinite);
    }

    .tabs .item.active {
        text-shadow: 0 0 10px var(--color-shadow-trinite);
    }

    .centrer {
        display: flex;
        justify-content: center;
        margin: 3px;
    }

    .window-content {
        background: url("../images/parchemin-grey.jpg") repeat;
    }
    
    .sheet-header {
        
        img {
            border: none;
        }

        h1.occulte {
            font-family: "Cabaletta";
        }
    }

    .sheet-content.aura {

        .grid-item-aura {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr 2fr;
            margin: 2px;
            align-items: center;

            label, input, select {
                margin: 2px;
            }

            label {
                font-family: "Cabaletta";
            }
        }

        .zone-aura {
            display: grid;
            grid-template-columns: repeat(5, 3.5em);
        }

        .editor {
            height: 100px;
        }
    }

    .sheet-content.domaine {
        .editor {
            height: 250px;
        }
    }

    .sheet-content.atout {
        
        .grid-item-atout {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr 2fr;
            margin: 2px;
            align-items: center;  

            label, input, select {
                margin: 2px;
            }

            label {
                font-family: "Cabaletta";
            }
        }

        .editor {
            height: 220px;
        }
    }

    .sheet-content.verset {
        
        .editor {
            height: 140px;
            margin: 2px;
        }

        label {
            font-family: "Cabaletta";
        }

        .grid-item-verset {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr;
            margin: 2px;
            align-items: center;

            label, input, select {
                margin: 2px;
            }

            .col-sentence {
                grid-column: 1 / 7;

                textarea {
                    font-family: "Cabaletta";
                    font-style: italic;
                    margin: 2px;
                    height: 60px;
                    resize: none;
                }
            }
        }

        .verset-data, .verset-desc {
            margin: 2px;
        }

        .grid-data-desc {
            display: grid;
            grid-template-columns: 250px 1fr;
            margin: 2px;
            align-items: center;

            .grid-data-verset {
                display: grid;
                grid-template-columns: 1fr 2fr 1fr 2em;
                margin: 2px;
                align-items: center;
            }

            label, input {
                margin: 3px;
            }

            .check {
                padding-left: 3px;
            }

            .col-mono {
                grid-column: 1 / 5;
            }
        }
    }

    .sheet-footer {
        border-top: solid thin rgb(66, 99, 126);
        padding: 3px;  
        color: var(--color-titre-trinite);
        font-weight: bold;
        font-size: 1.2em;
    }

    .sheet-footer.occulte {
        border-top: solid thin rgb(126, 105, 66);
        font-family: "Cabaletta";
        color: var(--color-titre-occulte);
    }

    .titre-desc {
        color: var(--color-titre-trinite);
        font-weight: bold;
        margin: 2px;
        font-size: 1.1em;
    }

    .titre-desc.occulte {
        font-family: "Cabaletta";
        color: var(--color-titre-occulte);
    }
}