<div class="grand-livre">
    <h3><i class="fas fa-book-open"></i> Grand livre</h3>
    <div class="titre-grand-livre">Versets de Tenèbres</div>    
    <div class="grid-verset">
    {{#each versets as |verset id|}}
            {{#if (eq verset.data.karma "tenebre")}}
                <div class="col-roll-verset"><a class="roll-verset" title="Jet de verset" data-item-id="{{verset._id}}"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-verset">{{verset.name}}</div>
                <div class="col-edit-verset"><a class="edit-item" title="Editer" data-item-id="{{verset._id}}"> <i class="far fa-edit"></i></a></div>
                <div class="col-delete-verset"><a class="suppr-item" title="Supprimer" data-item-id="{{verset._id}}"><i class="fas fa-times-circle"></i></a></div>
            {{/if}}
    {{/each}}
    </div>        
</div>