<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        {{> "systems/trinites/templates/partials/actor/bloc-info-personnage.hbs"}}
    </header>
    <nav class="sheet-tabs tabs" data-group="principal">
        <a class="item profane" data-tab="profane">Profane</a>
        <a class="item occulte" data-tab="occulte">Occulte</a>
    </nav>
    <section class="sheet-body">
        <div class="tab profane" data-group="principal" data-tab="profane">
            {{> "systems/trinites/templates/partials/actor/bloc-profane-personnage.hbs"}}
        </div>
        <div class="tab occulte" data-group="principal" data-tab="occulte">
            <div class="deux-col-50-50">
                <div class="col-A">
                    {{> "systems/trinites/templates/partials/actor/bloc-themeAstral-personnage.hbs"}}
                </div>
                <div class="col-B">
                    <div class="histo-bloc">                        
                        <h3><i class="fab fa-pied-piper-alt"></i> Historique</h3>
                        <div class="ligne-histo">
                            <label>Légion</label>                            
                            <select name="data.trinite.archonte.legion">
                                {{#select data.data.trinite.archonte.legion}}
                                {{#each config.legions as |legion keyLegion|}}
                                    <option value="{{keyLegion}}">{{legion}}</option>
                                {{/each}}
                                {{/select}} 
                            </select>
                        </div>
                        <div class="histo"><textarea name="data.historique" placeholder="Histoire de l'Archonte-Roi">{{data.data.historique}}</textarea></div>
                    </div>
                </div>
            </div>
            <div class="deux-col-50-50">
                <div class = "karma-ten">
                    <h3><i class="fas fa-moon"></i> Karma-Ténèbres</h3>
                    <div class="grid-karma-ten">
                        <div class="karma-ten-titre"><label>Réserve de Karma</label></div>
                        <div class="karma-ten-valeur">
                            <input name="data.archonteRoi.karma.value" type="number" value="{{data.data.archonteRoi.karma.value}}" placeholder="0" min="0" max="{{data.data.archonteRoi.karma.max}}">
                            <label> / </label>
                            <input name="data.archonteRoi.karma.max" type="number" value="{{data.data.archonteRoi.karma.max}}" placeholder="0" min="0">
                            <!-- <div class="logo-karma"><i class="fas fa-moon"></i></div> -->
                        </div>
                    </div>
                </div>
                <div class="pouvoirs-gen">
                    <h3>Pouvoirs</h3>
                </div>
            </div>
            
            <div class="deux-col-66-33">
                <div class="col-66">
                    {{> "systems/trinites/templates/partials/actor/bloc-grandLivre-archonte.hbs"}}
                    {{> "systems/trinites/templates/partials/actor/bloc-zodiaque-personnage.hbs"}}
                </div>
                <div class="col-33">
                    <div class="lame-noire">
                        <h3><i class="fas fa-khanda"></i> Lame noire</h3>
                        <div class="grid-lame">
                            <label>Vagabond</label>
                            <select name="data.lameNoire.vagabond">
                                {{#select data.data.lameNoire.vagabond}}
                                {{#each config.vagabonds as |vagabond keyVagabond|}}
                                    <option value="{{keyVagabond}}">{{vagabond.label}}</option>
                                {{/each}}
                                {{/select}} 
                            </select>
                            <div class="centrer"><a class="roll-lame" title="Jet de lame-noire"><i class="fas fa-dice"></i></a></div>
                            <label>Dégâts 4</label>
                        </div>
                        <div class="desc-lame"><textarea name="data.lameNoire.description" placeholder="Description de la lame noire">{{data.data.lameNoire.description}}</textarea></div>
                        <div class="centrer titre-atout">Atouts</div>
                        <div class="grid-atout">
                            {{#each atouts as |atout id|}}
                                {{#if (eq atout.data.karma "tenebre")}}
                                    <div class="centrer"><a class="roll-atout" title="Jet d'atout" data-item-id="{{atout._id}}"><i class="fas fa-dice"></i></a></div>
                                    <div class="nom-atout">{{atout.name}}</div>
                                    <div class="centrer"><a class="edit-item" title="Editer" data-item-id="{{atout._id}}"> <i class="far fa-edit"></i></a></div>
                                    <div class="centrer"><a class="suppr-item" title="Supprimer" data-item-id="{{atout._id}}"><i class="fas fa-times-circle"></i></a></div>
                                {{/if}}
                            {{/each}}     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>