<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        {{> "systems/trinites/templates/partials/actor/bloc-info-personnage.hbs"}}
    </header>
    <nav class="sheet-tabs tabs" data-group="principal">
        <a class="item tab-profane" data-tab="profane">Profane</a>
        <a class="item tab-equipement" data-tab="equipement">Equipement</a>
        <a class="item tab-occulte" data-tab="occulte">Occulte</a>
    </nav>
    <section class="sheet-body">
        <div class="tab tab-profane" data-group="principal" data-tab="profane">
            {{> "systems/trinites/templates/partials/actor/bloc-profane-archonte-roi.hbs"}}
        </div>
        <div class="tab tab-equipement" data-tab="equipement">
            {{> "systems/trinites/templates/partials/actor/bloc-equipement.hbs"}}
        </div>
        <div class="tab tab-occulte" data-group="principal" data-tab="occulte">
            <div class="deux-col-50-50">
                <div class="col-A">
                    {{> "systems/trinites/templates/partials/actor/bloc-themeAstral-personnage.hbs"}}
                </div>
                <div class="col-B">
                    <div class="histo-bloc">                        
                        <h3><i class="fab fa-pied-piper-alt"></i> Historique</h3>
                        <div class="ligne-histo">
                            <label>Légion</label>                            
                            <select name="system.trinite.archonte.legion">
                                {{#select data.system.trinite.archonte.legion}}
                                {{#each config.legions as |legion keyLegion|}}
                                    <option value="{{keyLegion}}">{{legion}}</option>
                                {{/each}}
                                {{/select}} 
                            </select>
                        </div>
                        <div class="histo"><textarea name="system.historique" placeholder="Histoire de l'Archonte-Roi">{{data.system.historique}}</textarea></div>
                    </div>
                </div>
            </div>
            <div class="deux-col-50-50">
                <div class = "karma-ten">
                    <h3><i class="fas fa-moon"></i> Karma-Ténèbres</h3>
                    <div class="grid-karma-ten">
                        <div class="karma-ten-titre"><label>Réserve de Karma</label></div>
                        <div class="karma-ten-valeur">
                            <input name="system.archonteRoi.karma.value" type="number" value="{{data.system.archonteRoi.karma.value}}" placeholder="0" min="0" max="{{data.system.archonteRoi.karma.max}}">
                            <label> / </label>
                            <input name="system.archonteRoi.karma.max" type="number" value="{{data.system.archonteRoi.karma.max}}" placeholder="0" min="0">
                            <!-- <div class="logo-karma"><i class="fas fa-moon"></i></div> -->
                        </div>
                    </div>
                </div>
                <div class="pouvoirs-gen">
                    <h3>Pouvoirs</h3>
                </div>
            </div>
            
            <div class="deux-col-66-33">
                <div class="col-66">
                    {{> "systems/trinites/templates/partials/actor/bloc-grandLivre-archonte.hbs"}}
                    {{> "systems/trinites/templates/partials/actor/bloc-zodiaque-personnage.hbs"}}
                </div>
                <div class="col-33">
                    {{> "systems/trinites/templates/partials/actor/bloc-lameNoire-archonte.hbs"}}
                </div>
            </div>
        </div>
    </section>
</form>