<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="systems/trinites/images/trinites_defaut.png" data-edit="img" title="{{actor.name}}" height="128" width="128">
        <div class="actor-info">
            <div class="actor-infos-line">
                <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder=" Nom"></h1>
            </div>
            <div class="actor-infos-line">
                <label>Sexe</label>
                <div class="small-size"><input name="data.sexe" type="text" value="{{data.data.sexe}}" placeholder="Sexe"></div>
                <label>Age</label>
                <div class="small-size"><input name="data.age" type="number" value="{{data.data.age}}" placeholder="Age"></div>
                <label>Taille</label>
                <div class="middle-size"><input name="data.taille" type="text" value="{{data.data.taille}}" placeholder="Taille"></div>
                <label>Métier</label>
                <div class="auto-size"><input name="data.metier" type="text" value="{{data.data.metier}}" placeholder="Métier"></div>
            </div>
            <div class="actor-infos-line">
                <label>Description</label>
                <div class="auto-size"><input name="data.description" type="text" value="{{data.data.description}}" placeholder="Description"></div>
            </div>
        </div>
    </header>
    <nav class="sheet-tabs tabs" data-group="principal">
        <a class="item" data-tab="profane">Profane</a>
        <a class="item" data-tab="occulte">Occulte</a>
    </nav>
    <section class="sheet-body">
        <div class="tab" data-group="principal" data-tab="profane">
            <h3>COMPETENCES</h3>
            <div class="comp-grid">
                <!-- COLONNE 1 -->
                <div class="col-base-1 lig-titre-1">Base</div>
                <div class="col-valeur-1 lig-titre-1">Valeur</div>
                <!-- GEMEAUX -->
                <div class="col-image-1 lig-image-1"><img src="systems/trinites/images/signes/gemeaux.png" title="Gémeaux" height="40" width="40"></div>                
                <div class="col-valSigne-1 lig-image-1"><input name="data.signes.gemeaux.valeur" type="number" value="{{data.data.signes.gemeaux.valeur}}" placeholder="0"></div>
                <div class="col-nom-1 lig-titre-1">GEMEAUX</div>
                <div class="col-dice-1 lig-comp-1"><a class="roll-comp" title="Jet de compétence" data-signe="gemeaux" data-competence="art"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-1 lig-comp-1">{{data.data.competences.gemeaux.art.label}}</div>
                <div class="col-base-1 lig-comp-1"><input name="data.competences.gemeaux.art.base" type="number" value="{{data.data.competences.gemeaux.art.base}}" placeholder="0"></div>
                <div class="col-valeur-1 lig-comp-1"><label>{{data.data.competences.gemeaux.art.valeur}}</label></div>
                <div class="col-dice-1 lig-comp-2"><a class="roll-comp" title="Jet de compétence" data-signe="gemeaux" data-competence="empathie"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-1 lig-comp-2">{{data.data.competences.gemeaux.empathie.label}}</div>
                <div class="col-base-1 lig-comp-2"><input name="data.competences.gemeaux.empathie.base" type="number" value="{{data.data.competences.gemeaux.empathie.base}}" placeholder="0"></div>
                <div class="col-valeur-1 lig-comp-2"><label>{{data.data.competences.gemeaux.empathie.valeur}}</label></div>
                <div class="col-dice-1 lig-comp-3"><a class="roll-comp" title="Jet de compétence" data-signe="gemeaux" data-competence="seduction"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-1 lig-comp-3">{{data.data.competences.gemeaux.seduction.label}}</div>
                <div class="col-base-1 lig-comp-3"><input name="data.competences.gemeaux.seduction.base" type="number" value="{{data.data.competences.gemeaux.seduction.base}}" placeholder="0"></div>
                <div class="col-valeur-1 lig-comp-3"><label>{{data.data.competences.gemeaux.seduction.valeur}}</label></div>
                <!-- VIERGE -->
                <div class="col-image-1 lig-image-2"><img src="systems/trinites/images/signes/vierge.png" title="Vierge" height="40" width="40"></div>
                <div class="col-valSigne-1 lig-image-2"><input name="data.signes.vierge.valeur" type="number" value="{{data.data.signes.vierge.valeur}}" placeholder="0"></div>
                <div class="col-nom-1 lig-titre-2">VIERGE</div>
                <div class="col-dice-1 lig-comp-4"><a class="roll-comp" title="Jet de compétence" data-signe="vierge" data-competence="clairvoyance"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-1 lig-comp-4">{{data.data.competences.vierge.clairvoyance.label}}</div>
                <div class="col-base-1 lig-comp-4"><input name="data.competences.vierge.clairvoyance.base" type="number" value="{{data.data.competences.vierge.clairvoyance.base}}" placeholder="0"></div>
                <div class="col-valeur-1 lig-comp-4"><label>{{data.data.competences.vierge.clairvoyance.valeur}}</label></div>
                <div class="col-dice-1 lig-comp-5"><a class="roll-comp" title="Jet de compétence" data-signe="vierge" data-competence="emprise"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-1 lig-comp-5">{{data.data.competences.vierge.emprise.label}}</div>
                <div class="col-base-1 lig-comp-5"><input name="data.competences.vierge.emprise.base" type="number" value="{{data.data.competences.vierge.emprise.base}}" placeholder="0"></div>
                <div class="col-valeur-1 lig-comp-5"><label>{{data.data.competences.vierge.emprise.valeur}}</label></div>
                <div class="col-dice-1 lig-comp-6"><a class="roll-comp" title="Jet de compétence" data-signe="vierge" data-competence="meditation"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-1 lig-comp-6">{{data.data.competences.vierge.meditation.label}}</div>
                <div class="col-base-1 lig-comp-6"><input name="data.competences.vierge.meditation.base" type="number" value="{{data.data.competences.vierge.meditation.base}}" placeholder="0"></div>
                <div class="col-valeur-1 lig-comp-6"><label>{{data.data.competences.vierge.meditation.valeur}}</label></div>
                <!-- SAGITTAIRE -->
                <div class="col-image-1 lig-image-3"><img src="systems/trinites/images/signes/sagittaire.png" title="Sagittaire" height="40" width="40"></div>
                <div class="col-valSigne-1 lig-image-3"><input name="data.signes.sagittaire.valeur" type="number" value="{{data.data.signes.sagittaire.valeur}}" placeholder="0"></div>
                <div class="col-nom-1 lig-titre-3">SAGITTAIRE</div>
                <div class="col-dice-1 lig-comp-7"><a class="roll-comp" title="Jet de compétence" data-signe="sagittaire" data-competence="survie"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-1 lig-comp-7">{{data.data.competences.sagittaire.survie.label}}</div>
                <div class="col-base-1 lig-comp-7"><input name="data.competences.sagittaire.survie.base" type="number" value="{{data.data.competences.sagittaire.survie.base}}" placeholder="0"></div>
                <div class="col-valeur-1 lig-comp-7"><label>{{data.data.competences.sagittaire.survie.valeur}}</label></div>
                <div class="col-dice-1 lig-comp-8 "><a class="roll-comp" title="Jet de compétence" data-signe="sagittaire" data-competence="tir"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-1 lig-comp-8">{{data.data.competences.sagittaire.tir.label}}</div>
                <div class="col-base-1 lig-comp-8"><input name="data.competences.sagittaire.tir.base" type="number" value="{{data.data.competences.sagittaire.tir.base}}" placeholder="0"></div>
                <div class="col-valeur-1 lig-comp-8"><label>{{data.data.competences.sagittaire.tir.valeur}}</label></div>
                <div class="col-dice-1 lig-comp-9"><a class="roll-comp" title="Jet de compétence" data-signe="sagittaire" data-competence="vigilance"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-1 lig-comp-9">{{data.data.competences.sagittaire.vigilance.label}}</div>
                <div class="col-base-1 lig-comp-9"><input name="data.competences.sagittaire.vigilance.base" type="number" value="{{data.data.competences.sagittaire.vigilance.base}}" placeholder="0"></div>
                <div class="col-valeur-1 lig-comp-9"><label>{{data.data.competences.sagittaire.vigilance.valeur}}</label></div>
                <!-- POISSON -->
                <div class="col-image-1 lig-image-4"><img src="systems/trinites/images/signes/poisson.png" title="Poisson" height="40" width="40"></div>
                <div class="col-valSigne-1 lig-image-4"><input name="data.signes.poisson.valeur" type="number" value="{{data.data.signes.poisson.valeur}}" placeholder="0"></div>
                <div class="col-nom-1 lig-titre-4">POISSON</div>
                <div class="col-dice-1 lig-comp-10"><a class="roll-comp" title="Jet de compétence" data-signe="poisson" data-competence="erudition"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-1 lig-comp-10">{{data.data.competences.poisson.erudition.label}}</div>
                <div class="col-base-1 lig-comp-10"><input name="data.competences.poisson.erudition.base" type="number" value="{{data.data.competences.poisson.erudition.base}}" placeholder="0"></div>
                <div class="col-valeur-1 lig-comp-10"><label>{{data.data.competences.poisson.erudition.valeur}}</label></div>
                <div class="col-dice-1 lig-comp-11"><a class="roll-comp" title="Jet de compétence" data-signe="poisson" data-competence="langues"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-1 lig-comp-11">{{data.data.competences.poisson.langues.label}}</div>
                <div class="col-base-1 lig-comp-11"><input name="data.competences.poisson.langues.base" type="number" value="{{data.data.competences.poisson.langues.base}}" placeholder="0"></div>
                <div class="col-valeur-1 lig-comp-11"><label>{{data.data.competences.poisson.langues.valeur}}</label></div>
                <div class="col-dice-1 lig-comp-12"><a class="roll-comp" title="Jet de compétence" data-signe="poisson" data-competence="sciences"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-1 lig-comp-12">{{data.data.competences.poisson.sciences.label}}</div>
                <div class="col-base-1 lig-comp-12"><input name="data.competences.poisson.sciences.base" type="number" value="{{data.data.competences.poisson.sciences.base}}" placeholder="0"></div>
                <div class="col-valeur-1 lig-comp-12"><label>{{data.data.competences.poisson.sciences.valeur}}</label></div>
                <!-- BELIER -->
                <div class="col-image-1 lig-image-5"><img src="systems/trinites/images/signes/belier.png" title="Bélier" height="40" width="40"></div>
                <div class="col-valSigne-1 lig-image-5"><input name="data.signes.belier.valeur" type="number" value="{{data.data.signes.belier.valeur}}" placeholder="0"></div>
                <div class="col-nom-1 lig-titre-5">BELIER</div>
                <div class="col-dice-1 lig-comp-13"><a class="roll-comp" title="Jet de compétence" data-signe="belier" data-competence="corpsACorps"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-1 lig-comp-13">{{data.data.competences.belier.corpsACorps.label}}</div>
                <div class="col-base-1 lig-comp-13"><input name="data.competences.belier.corpsACorps.base" type="number" value="{{data.data.competences.belier.corpsACorps.base}}" placeholder="0"></div>
                <div class="col-valeur-1 lig-comp-13"><label>{{data.data.competences.belier.corpsACorps.valeur}}</label></div>
                <div class="col-dice-1 lig-comp-14"><a class="roll-comp" title="Jet de compétence" data-signe="belier" data-competence="melee"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-1 lig-comp-14">{{data.data.competences.belier.melee.label}}</div>
                <div class="col-base-1 lig-comp-14"><input name="data.competences.belier.melee.base" type="number" value="{{data.data.competences.belier.melee.base}}" placeholder="0"></div>
                <div class="col-valeur-1 lig-comp-14"><label>{{data.data.competences.belier.melee.valeur}}</label></div>
                <div class="col-dice-1 lig-comp-15"><a class="roll-comp" title="Jet de compétence" data-signe="belier" data-competence="tactique"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-1 lig-comp-15">{{data.data.competences.belier.tactique.label}}</div>
                <div class="col-base-1 lig-comp-15"><input name="data.competences.belier.tactique.base" type="number" value="{{data.data.competences.belier.tactique.base}}" placeholder="0"></div>
                <div class="col-valeur-1 lig-comp-15"><label>{{data.data.competences.belier.tactique.valeur}}</label></div>
                <!-- TAUREAU -->
                <div class="col-image-1 lig-image-6"><img src="systems/trinites/images/signes/taureau.png" title="Taureau" height="40" width="40"></div>
                <div class="col-valSigne-1 lig-image-6"><input name="data.signes.taureau.valeur" type="number" value="{{data.data.signes.taureau.valeur}}" placeholder="0"></div>
                <div class="col-nom-1 lig-titre-6">TAUREAU</div>
                <div class="col-dice-1 lig-comp-16"><a class="roll-comp" title="Jet de compétence" data-signe="taureau" data-competence="athletisme"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-1 lig-comp-16">{{data.data.competences.taureau.athletisme.label}}</div>
                <div class="col-base-1 lig-comp-16"><input name="data.competences.taureau.athletisme.base" type="number" value="{{data.data.competences.taureau.athletisme.base}}" placeholder="0"></div>
                <div class="col-valeur-1 lig-comp-16"><label>{{data.data.competences.taureau.athletisme.valeur}}</label></div>
                <div class="col-dice-1 lig-comp-17"><a class="roll-comp" title="Jet de compétence" data-signe="taureau" data-competence="endurance"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-1 lig-comp-17">{{data.data.competences.taureau.endurance.label}}</div>
                <div class="col-base-1 lig-comp-17"><input name="data.competences.taureau.endurance.base" type="number" value="{{data.data.competences.taureau.endurance.base}}" placeholder="0"></div>
                <div class="col-valeur-1 lig-comp-17"><label>{{data.data.competences.taureau.endurance.valeur}}</label></div>
                <div class="col-dice-1 lig-comp-18"><a class="roll-comp" title="Jet de compétence" data-signe="taureau" data-competence="force"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-1 lig-comp-18">{{data.data.competences.taureau.force.label}}</div>
                <div class="col-base-1 lig-comp-18"><input name="data.competences.taureau.force.base" type="number" value="{{data.data.competences.taureau.force.base}}" placeholder="0"></div>
                <div class="col-valeur-1 lig-comp-18"><label>{{data.data.competences.taureau.force.valeur}}</label></div>
                <!-- COLONNE 2 -->
                <div class="col-base-2 lig-titre-1">Base</div>
                <div class="col-valeur-2 lig-titre-1">Valeur</div>
                <!-- BALANCE -->
                <div class="col-image-2 lig-image-1"><img src="systems/trinites/images/signes/balance.png" title="Balance" height="40" width="40"></div>
                <div class="col-valSigne-2 lig-image-1"><input name="data.signes.balance.valeur" type="number" value="{{data.data.signes.balance.valeur}}" placeholder="0"></div>
                <div class="col-nom-2 lig-titre-1">BALANCE</div>
                <div class="col-dice-2 lig-comp-1"><a class="roll-comp" title="Jet de compétence" data-signe="balance" data-competence="documentation"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-2 lig-comp-1">{{data.data.competences.balance.documentation.label}}</div>
                <div class="col-base-2 lig-comp-1"><input name="data.competences.balance.documentation.base" type="number" value="{{data.data.competences.balance.documentation.base}}" placeholder="0"></div>
                <div class="col-valeur-2 lig-comp-1"><label>{{data.data.competences.balance.documentation.valeur}}</label></div>
                <div class="col-dice-2 lig-comp-2"><a class="roll-comp" title="Jet de compétence" data-signe="balance" data-competence="fouille"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-2 lig-comp-2">{{data.data.competences.balance.fouille.label}}</div>
                <div class="col-base-2 lig-comp-2"><input name="data.competences.balance.fouille.base" type="number" value="{{data.data.competences.balance.fouille.base}}" placeholder="0"></div>
                <div class="col-valeur-2 lig-comp-2"><label>{{data.data.competences.balance.fouille.valeur}}</label></div>
                <div class="col-dice-2 lig-comp-3"><a class="roll-comp" title="Jet de compétence" data-signe="balance" data-competence="intellect"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-2 lig-comp-3">{{data.data.competences.balance.intellect.label}}</div>
                <div class="col-base-2 lig-comp-3"><input name="data.competences.balance.intellect.base" type="number" value="{{data.data.competences.balance.intellect.base}}" placeholder="0"></div>
                <div class="col-valeur-2 lig-comp-3"><label>{{data.data.competences.balance.intellect.valeur}}</label></div>
                <!-- SCORPION -->
                <div class="col-image-2 lig-image-2"><img src="systems/trinites/images/signes/scorpion.png" title="Scorpion" height="40" width="40"></div>
                <div class="col-valSigne-2 lig-image-2"><input name="data.signes.scorpion.valeur" type="number" value="{{data.data.signes.scorpion.valeur}}" placeholder="0"></div>
                <div class="col-nom-2 lig-titre-2">SCORPION</div>
                <div class="col-dice-2 lig-comp-4"><a class="roll-comp" title="Jet de compétence" data-signe="scorpion" data-competence="discretion"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-2 lig-comp-4">{{data.data.competences.scorpion.discretion.label}}</div>
                <div class="col-base-2 lig-comp-4"><input name="data.competences.scorpion.discretion.base" type="number" value="{{data.data.competences.scorpion.discretion.base}}" placeholder="0"></div>
                <div class="col-valeur-2 lig-comp-4"><label>{{data.data.competences.scorpion.discretion.valeur}}</label></div>
                <div class="col-dice-2 lig-comp-5"><a class="roll-comp" title="Jet de compétence" data-signe="scorpion" data-competence="intrusion"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-2 lig-comp-5">{{data.data.competences.scorpion.intrusion.label}}</div>
                <div class="col-base-2 lig-comp-5"><input name="data.competences.scorpion.intrusion.base" type="number" value="{{data.data.competences.scorpion.intrusion.base}}" placeholder="0"></div>
                <div class="col-valeur-2 lig-comp-5"><label>{{data.data.competences.scorpion.intrusion.valeur}}</label></div>
                <div class="col-dice-2 lig-comp-6"><a class="roll-comp" title="Jet de compétence" data-signe="scorpion" data-competence="subterfuge"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-2 lig-comp-6">{{data.data.competences.scorpion.subterfuge.label}}</div>
                <div class="col-base-2 lig-comp-6"><input name="data.competences.scorpion.subterfuge.base" type="number" value="{{data.data.competences.scorpion.subterfuge.base}}" placeholder="0"></div>
                <div class="col-valeur-2 lig-comp-6"><label>{{data.data.competences.scorpion.subterfuge.valeur}}</label></div>
                <!-- LION -->
                <div class="col-image-2 lig-image-3"><img src="systems/trinites/images/signes/lion.png" title="Lion" height="40" width="40"></div>
                <div class="col-valSigne-2 lig-image-3"><input name="data.signes.lion.valeur" type="number" value="{{data.data.signes.lion.valeur}}" placeholder="0"></div>
                <div class="col-nom-2 lig-titre-3">LION</div>
                <div class="col-dice-2 lig-comp-7"><a class="roll-comp" title="Jet de compétence" data-signe="lion" data-competence="commandement"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-2 lig-comp-7">{{data.data.competences.lion.commandement.label}}</div>
                <div class="col-base-2 lig-comp-7"><input name="data.competences.lion.commandement.base" type="number" value="{{data.data.competences.lion.commandement.base}}" placeholder="0"></div>
                <div class="col-valeur-2 lig-comp-7"><label>{{data.data.competences.lion.commandement.valeur}}</label></div>
                <div class="col-dice-2 lig-comp-8"><a class="roll-comp" title="Jet de compétence" data-signe="lion" data-competence="strategie"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-2 lig-comp-8">{{data.data.competences.lion.strategie.label}}</div>
                <div class="col-base-2 lig-comp-8"><input name="data.competences.lion.strategie.base" type="number" value="{{data.data.competences.lion.strategie.base}}" placeholder="0"></div>
                <div class="col-valeur-2 lig-comp-8"><label>{{data.data.competences.lion.strategie.valeur}}</label></div>
                <div class="col-dice-2 lig-comp-9"><a class="roll-comp" title="Jet de compétence" data-signe="lion" data-competence="volonte"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-2 lig-comp-9">{{data.data.competences.lion.volonte.label}}</div>
                <div class="col-base-2 lig-comp-9"><input name="data.competences.lion.volonte.base" type="number" value="{{data.data.competences.lion.volonte.base}}" placeholder="0"></div>
                <div class="col-valeur-2 lig-comp-9"><label>{{data.data.competences.lion.volonte.valeur}}</label></div>
                <!-- CAPRICORNE -->
                <div class="col-image-2 lig-image-4"><img src="systems/trinites/images/signes/capricorne.png" title="Capricorne" height="40" width="40"></div>
                <div class="col-valSigne-2 lig-image-4"><input name="data.signes.capricorne.valeur" type="number" value="{{data.data.signes.capricorne.valeur}}" placeholder="0"></div>
                <div class="col-nom-2 lig-titre-4">CAPRICORNE</div>
                <div class="col-dice-2 lig-comp-10"><a class="roll-comp" title="Jet de compétence" data-signe="capricorne" data-competence="esquive"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-2 lig-comp-10">{{data.data.competences.capricorne.esquive.label}}</div>
                <div class="col-base-2 lig-comp-10"><input name="data.competences.capricorne.esquive.base" type="number" value="{{data.data.competences.capricorne.esquive.base}}" placeholder="0"></div>
                <div class="col-valeur-2 lig-comp-10"><label>{{data.data.competences.capricorne.esquive.valeur}}</label></div>
                <div class="col-dice-2 lig-comp-11"><a class="roll-comp" title="Jet de compétence" data-signe="capricorne" data-competence="pilotage"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-2 lig-comp-11">{{data.data.competences.capricorne.pilotage.label}}</div>
                <div class="col-base-2 lig-comp-11"><input name="data.competences.capricorne.pilotage.base" type="number" value="{{data.data.competences.capricorne.pilotage.base}}" placeholder="0"></div>
                <div class="col-valeur-2 lig-comp-11"><label>{{data.data.competences.capricorne.pilotage.valeur}}</label></div>
                <div class="col-dice-2 lig-comp-12"><a class="roll-comp" title="Jet de compétence" data-signe="capricorne" data-competence="rapidite"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-2 lig-comp-12">{{data.data.competences.capricorne.rapidite.label}}</div>
                <div class="col-base-2 lig-comp-12"><input name="data.competences.capricorne.rapidite.base" type="number" value="{{data.data.competences.capricorne.rapidite.base}}" placeholder="0"></div>
                <div class="col-valeur-2 lig-comp-12"><label>{{data.data.competences.capricorne.rapidite.valeur}}</label></div>
                <!-- CANCER -->
                <div class="col-image-2 lig-image-5"><img src="systems/trinites/images/signes/cancer.png" title="Cancer" height="40" width="40"></div>
                <div class="col-valSigne-2 lig-image-5"><input name="data.signes.cancer.valeur" type="number" value="{{data.data.signes.cancer.valeur}}" placeholder="0"></div>
                <div class="col-nom-2 lig-titre-5">CANCER</div>
                <div class="col-dice-2 lig-comp-13"><a class="roll-comp" title="Jet de compétence" data-signe="cancer" data-competence="artisanat"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-2 lig-comp-13">{{data.data.competences.cancer.artisanat.label}}</div>
                <div class="col-base-2 lig-comp-13"><input name="data.competences.cancer.artisanat.base" type="number" value="{{data.data.competences.cancer.artisanat.base}}" placeholder="0"></div>
                <div class="col-valeur-2 lig-comp-13"><label>{{data.data.competences.cancer.artisanat.valeur}}</label></div>
                <div class="col-dice-2 lig-comp-14"><a class="roll-comp" title="Jet de compétence" data-signe="cancer" data-competence="technologies"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-2 lig-comp-14">{{data.data.competences.cancer.technologies.label}}</div>
                <div class="col-base-2 lig-comp-14"><input name="data.competences.cancer.technologies.base" type="number" value="{{data.data.competences.cancer.technologies.base}}" placeholder="0"></div>
                <div class="col-valeur-2 lig-comp-14"><label>{{data.data.competences.cancer.technologies.valeur}}</label></div>
                <div class="col-dice-2 lig-comp-15"><a class="roll-comp" title="Jet de compétence" data-signe="cancer" data-competence="soins"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-2 lig-comp-15">{{data.data.competences.cancer.soins.label}}</div>
                <div class="col-base-2 lig-comp-15"><input name="data.competences.cancer.soins.base" type="number" value="{{data.data.competences.cancer.soins.base}}" placeholder="0"></div>
                <div class="col-valeur-2 lig-comp-15"><label>{{data.data.competences.cancer.soins.valeur}}</label></div>
                <!-- VERSEAU -->
                <div class="col-image-2 lig-image-6"><img src="systems/trinites/images/signes/verseau.png" title="Verseau" height="40" width="40"></div>
                <div class="col-valSigne-2 lig-image-6"><input name="data.signes.verseau.valeur" type="number" value="{{data.data.signes.verseau.valeur}}" placeholder="0"></div>
                <div class="col-nom-2 lig-titre-6">VERSEAU</div>
                <div class="col-dice-2 lig-comp-16"><a class="roll-comp" title="Jet de compétence" data-signe="verseau" data-competence="astrologie"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-2 lig-comp-16">{{data.data.competences.verseau.astrologie.label}}</div>
                <div class="col-base-2 lig-comp-16"><input name="data.competences.verseau.astrologie.base" type="number" value="{{data.data.competences.verseau.astrologie.base}}" placeholder="0"></div>
                <div class="col-valeur-2 lig-comp-16"><label>{{data.data.competences.verseau.astrologie.valeur}}</label></div>
                <div class="col-dice-2 lig-comp-17"><a class="roll-comp" title="Jet de compétence" data-signe="verseau" data-competence="histoireSecrete"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-2 lig-comp-17">{{data.data.competences.verseau.histoireSecrete.label}}</div>
                <div class="col-base-2 lig-comp-17"><input name="data.competences.verseau.histoireSecrete.base" type="number" value="{{data.data.competences.verseau.histoireSecrete.base}}" placeholder="0"></div>
                <div class="col-valeur-2 lig-comp-17"><label>{{data.data.competences.verseau.histoireSecrete.valeur}}</label></div>
                <div class="col-dice-2 lig-comp-18"><a class="roll-comp" title="Jet de compétence" data-signe="verseau" data-competence="les8"><i class="fas fa-dice"></i></a></div>
                <div class="col-nom-2 lig-comp-18">{{data.data.competences.verseau.les8.label}}</div>
                <div class="col-base-2 lig-comp-18"><input name="data.competences.verseau.les8.base" type="number" value="{{data.data.competences.verseau.les8.base}}" placeholder="0"></div>
                <div class="col-valeur-2 lig-comp-18"><label>{{data.data.competences.verseau.les8.valeur}}</label></div>
            </div>
            <h3>DOMAINES</h3>
            <div class="dom-grid">
                {{#each domaines as |domaine id|}}
                <div class="domaine-item domaine" data-item-id="{{domaine._id}}">
                    <div>{{domaine.name}}</div>
                    {{#if domaine.data.epuise }}
                        <div class="uncheck-domaine"><a title="Domaine épuisé"><i class="far fa-check-square"></i></a></div>
                    {{else}}
                        <div class="check-domaine"><a title="Domaine épuisé"><i class="far fa-square"></i></a></div>
                    {{/if}}
                    <div><a class="suppr-domaine" title="Supprimer"><i class="fas fa-times-circle"></i></a></div>
                </div>
                {{/each}}
            </div>
            <div class="deux-col">
                <div class="deux-col-1">
                    <h3>RESSOURCES</h3>
                    <div class="ress-grid">
                        <!-- RICHESSE -->
                        <div class="colRess-dice"><a class="roll-comp" title="Jet de ressource" data-ressource="richesse"><i class="fas fa-dice"></i></a></div>
                        <div class="colRess-nom">{{data.data.richesse.label}}</div>
                        <div class="colRess-valeur"><input name="data.richesse.valeur" type="number" value="{{data.data.richesse.valeur}}" placeholder="0"></div>
                        <div class="colRess-diminution"><input name="data.richesse.diminution" type="number" value="{{data.data.richesse.diminution}}" placeholder="0"></div>                
                        <div class="colRess-duree"><input name="data.richesse.duree" type="text" value="{{data.data.richesse.duree}}" placeholder="Durée diminution"></div>
                        <!-- RESEAU -->
                        <div class="colRess-dice"><a class="roll-comp" title="Jet de ressource" data-ressource="reseau"><i class="fas fa-dice"></i></a></div>
                        <div class="colRess-nom">{{data.data.reseau.label}}</div>
                        <div class="colRess-valeur"><input name="data.reseau.valeur" type="number" value="{{data.data.reseau.valeur}}" placeholder="0"></div>
                        <div class="colRess-diminution"><input name="data.reseau.diminution" type="number" value="{{data.data.reseau.diminution}}" placeholder="0"></div>                
                        <div class="colRess-duree"><input name="data.reseau.duree" type="text" value="{{data.data.reseau.duree}}" placeholder="Durée diminution"></div>
                        <!-- INFLUENCE -->
                        <div class="colRess-dice"><a class="roll-comp" title="Jet de ressource" data-ressource="influence"><i class="fas fa-dice"></i></a></div>
                        <div class="colRess-nom">{{data.data.influence.label}}</div>
                        <div class="colRess-valeur"><input name="data.influence.valeur" type="number" value="{{data.data.influence.valeur}}" placeholder="0"></div>
                        <div class="colRess-diminution"><input name="data.influence.diminution" type="number" value="{{data.data.influence.diminution}}" placeholder="0"></div>                
                        <div class="colRess-duree"><input name="data.influence.duree" type="text" value="{{data.data.influence.duree}}" placeholder="Durée diminution"></div>
                    </div>
                </div>
                <div class="deux-col-2">
                    <h3>LIGNES DE VIE</h3>
                    <div class="ligne-vie">
                        {{#times data.data.nbPointsVieMax}}
                            <a class="case-vie" title="{{@index}}" data-index="{{@index}}">{{#if (gte data.data.nbBlessure @index)}}<i class="fas fa-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}</a>
                            {{#if (eq @index data.data.ligneVie1)}}</div><div class="ligne-vie">{{/if}}
                            {{#if (eq @index data.data.ligneVie2)}}</div><div class="ligne-vie">{{/if}}
                        {{/times}}
                    </div>
                    <!-- <i class="far fa-circle"></i><i class="fas fa-circle"></i> -->
                </div>
            </div>
        </div>
        <div class="tab" data-group="principal" data-tab="occulte">
            <div class="deux-col">
                <div class="deux-col-1">
                    <h3>THEME ASTRAL</h3>
                    <div class="ligne-theme">
                        <label>Archétype</label>
                        <select name="data.themeAstral.archetype">
                            {{#select data.data.themeAstral.archetype}}
                            {{#each config.signes as |signe keySigne|}}
                                <option value="{{keySigne}}">{{signe}}</option>
                            {{/each}}
                            {{/select}} 
                        </select>
                        <label>Affinité</label>
                        <select name="data.themeAstral.affinite">
                            {{#select data.data.themeAstral.affinite}}
                            {{#each config.affinites as |affinite keyAffinite|}}
                                <option value="{{keyAffinite}}">{{affinite}}</option>
                            {{/each}}
                            {{/select}} 
                        </select>
                    </div>
                    <div class="grid-theme">
                        <label class="col-ascendant lig-titre">Ascendants</label>
                        <select class="col-ascendant lig-theme-1" name="data.themeAstral.ascendant1">
                            {{#select data.data.themeAstral.ascendant1}}
                            {{#each config.signes as |signe keySigne|}}
                                <option value="{{keySigne}}">{{signe}}</option>
                            {{/each}}
                            {{/select}} 
                        </select>
                        <select class="col-ascendant lig-theme-2" name="data.themeAstral.ascendant2">
                            {{#select data.data.themeAstral.ascendant2}}
                            {{#each config.signes as |signe keySigne|}}
                                <option value="{{keySigne}}">{{signe}}</option>
                            {{/each}}
                            {{/select}} 
                        </select>
                        <label class="col-descendant lig-titre">Descendants</label>
                        <select class="col-descendant lig-theme-1" name="data.themeAstral.descendant1">
                            {{#select data.data.themeAstral.descendant1}}
                            {{#each config.signes as |signe keySigne|}}
                                <option value="{{keySigne}}">{{signe}}</option>
                            {{/each}}
                            {{/select}} 
                        </select>
                        <select class="col-descendant lig-theme-2" name="data.themeAstral.descendant2">
                            {{#select data.data.themeAstral.descendant2}}
                            {{#each config.signes as |signe keySigne|}}
                                <option value="{{keySigne}}">{{signe}}</option>
                            {{/each}}
                            {{/select}} 
                        </select>
                        <select class="col-descendant lig-theme-3" name="data.themeAstral.descendant3">
                            {{#select data.data.themeAstral.descendant3}}
                            {{#each config.signes as |signe keySigne|}}
                                <option value="{{keySigne}}">{{signe}}</option>
                            {{/each}}
                            {{/select}} 
                        </select>
                    </div>
                </div>
                <div class="deux-col-2">
                    <h3>VIE ANTERIEURE</h3>
                    <div class="vie-ante"><textarea name="data.vieAnterieure" placeholder="Premier souvenir d'une vie antérieure">{{data.data.vieAnterieure}}</textarea></div>
                    <h3>EXPERIENCE</h3>
                    <div class="experience">
                        <label>Totale</label>
                        <input name="data.experience.totale" type="number" value="{{data.data.experience.totale}}" placeholder="0">
                        <div></div>
                        <label>Disponible</label>
                        <input name="data.experience.disponible" type="number" value="{{data.data.experience.disponible}}" placeholder="0">
                    </div>
                </div>
            </div>
            <div class="stats-trinite">
                <div class="deva">
                    <h3>DEVA</h3>
                    <div class="grid-stats">
                        <div class="colStats-titre">Choeur</div>
                        <div class="colStats-valeur">
                            <select name="data.trinite.deva.choeur">
                                {{#select data.data.trinite.deva.choeur}}
                                {{#each config.choeurs as |choeur keyChoeur|}}
                                    <option value="{{keyChoeur}}">{{choeur}}</option>
                                {{/each}}
                                {{/select}} 
                            </select>
                        </div>
                        <div class="colStats-titre">Karma</div>
                        <div class="colStats-valeur"><input name="data.trinite.deva.karma" type="number" value="{{data.data.trinite.deva.karma}}" placeholder="0"></div>
                        <div class="colStats-titre">Dettes</div>
                        <div class="colStats-valeur"><input name="data.trinite.deva.dettes" type="number" value="{{data.data.trinite.deva.dettes}}" placeholder="0"></div>
                        <div class="colStats-titre">Credits</div>
                        <div class="colStats-valeur"><input name="data.trinite.deva.credits" type="number" value="{{data.data.trinite.deva.credits}}" placeholder="0"></div>
                    </div>
                </div>
                <div class="adam"><img src="systems/trinites/images/trinite_occulte.png" data-edit="img" title="{{actor.name}}"></div>
                <div class="archonte">
                    <h3>ARCHONTE</h3>
                    <div class="grid-stats">

                    </div>
                </div>
            </div>
        </div>
    </section>
</form>