<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        {{> "systems/trinites/templates/partials/actor/trinite-bloc-info.hbs"}}
    </header>
    <nav class="sheet-tabs tabs" data-group="principal">
        <a class="item tab-profane" data-tab="profane">Profane</a>
        <a class="item tab-equipement" data-tab="equipement">Equipement</a>
        <a class="item tab-occulte" data-tab="occulte">Occulte</a>
        <a class="item tab-zodiaque" data-tab="zodiaque">Zodiaque</a>
        <a class="item tab-grand-livre" data-tab="grand-livre">Grand livre</a>
        <a class="item tab-lame-soeur" data-tab="lame-soeur">Lame-sœur</a>        
        <a class="item tab-description" data-tab="description">Description</a>
    </nav>
    <section class="sheet-body">
        <div class="tab tab-profane" data-group="principal" data-tab="profane">
            {{#if unlocked}}
                {{> "systems/trinites/templates/partials/actor/trinite-bloc-profane-unlocked.hbs"}}
            {{else}}
                {{> "systems/trinites/templates/partials/actor/trinite-bloc-profane.hbs"}}
            {{/if}}            
        </div>
        <div class="tab tab-equipement" data-tab="equipement">
            {{> "systems/trinites/templates/partials/actor/bloc-equipement.hbs"}}
        </div>
        <div class="tab tab-occulte" data-group="principal" data-tab="occulte">
            <div class="deux-col-50-50">
                <div class="col-A">
                    {{> "systems/trinites/templates/partials/actor/bloc-theme-astral.hbs"}}
                </div>
                <div class="col-B">
                    <div class="expe-bloc">
                        <h3><i class="fab fa-sketch"></i> Expérience</h3>
                        <div class="experience">
                            <label>Totale</label>
                            <input name="system.experience.totale" type="number" value="{{data.system.experience.totale}}" placeholder="0" min="0">
                            <div></div>
                            <label>Disponible</label>
                            <input name="system.experience.disponible" type="number" value="{{data.system.experience.disponible}}" placeholder="0" min="0" max="{{data.system.experience.totale}}">
                        </div>
                    </div>
                </div>
            </div>
            {{#if unlocked}}
                {{> "systems/trinites/templates/partials/actor/trinite-bloc-karma-unlocked.hbs"}}
            {{else}}
                {{> "systems/trinites/templates/partials/actor/trinite-bloc-karma.hbs"}}
            {{/if}}            
        </div>
        <div class="tab tab-zodiaque" data-group="principal" data-tab="zodiaque">
            {{> "systems/trinites/templates/partials/actor/trinite-bloc-zodiaque.hbs"}}
        </div>
        <div class="tab tab-grand-livre" data-group="principal" data-tab="grand-livre">
            {{> "systems/trinites/templates/partials/actor/trinite-bloc-grand-livre.hbs"}}
        </div>
        <div class="tab tab-lame-soeur" data-group="principal" data-tab="lame-soeur">
            {{> "systems/trinites/templates/partials/actor/trinite-bloc-lame-soeur.hbs"}}
        </div>
        <div class="tab tab-description" data-group="principal" data-tab="description">
            <h3> DESCRIPTION</h3> 
            <div class="description">{{editor descriptionHtml target="system.description" button=true owner=owner editable=editable}}</div>            
            <h3> NOTES</h3>
            <div class="notes">{{editor notesHtml target="system.notes" button=true owner=owner editable=editable}}</div>            
        </div>
    </section>
</form>