<form>
    <div class="titre"><label>Difficulté de l'action</label></div>
    <div class="grid-diff">
        <div>Elémentaire</div>
        <div>+6</div>
        <div>Aisée</div>
        <div>+3</div>
        <div>Délicate</div>
        <div>0</div>
        <div>Ardue</div>
        <div>-3</div>
        <div>Audacieuse</div>
        <div>-6</div>
        <div>Prodigieuse</div>
        <div>-9</div>
    </div>
    <div class="grid-data">
        <label>Difficulté</label>
        <div class="data"><input type="number" name="difficulte" value="0"/></div>
    </div>
    <div class="titre"><label>Domaine requis</label></div>
    <div class="grid-data">
        <label>Domaine non maitrisé</label>
        <div class="data"><input type="checkbox" name="sansDomaine"/></div>
    </div>
</form>    