<form>
    <div style="color: #1f546f; font-size: 1.2em; font-weight: bold; margin-left: 3px;"><label>Difficulté de l'action</label></div>
    <div style="display: grid; grid-template-columns: 2fr 1fr 2fr 1fr 2fr 1fr; margin: 3px; margin-top: 6px;">
        <div>Elémentaire</div>
        <div>+6</div>
        <div>Aisée</div>
        <div>+3</div>
        <div>Délicate</div>
        <div>0</div>
    </div>
    <div style="display: grid; grid-template-columns: 2fr 1fr 2fr 1fr 2fr 1fr; margin: 3px; margin-bottom: 10px;">
        <div>Ardue</div>
        <div>+3</div>
        <div>Audacieuse</div>
        <div>+6</div>
        <div>Prodigieuse</div>
        <div>+9</div>
    </div>
    <div class="form-group" style="margin-bottom: 10px;">
        <label>Difficulté</label>
        <input type="number" name="difficulte" value="0"/>
    </div>
</form>    